<% provide(:title, "Kitchen") -%>

<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div id="backbone-content" class="col-9"></div>
</div>
<div id="modal" class="modal hide fade"></div>

<%= backbone_collection_for @categories %>
<%= backbone_collection_for @tags %>
<%= backbone_collection_for @cakes %>
<%= backbone_collection_for @tutorials %>
<%= backbone_collection_for @photos %>

<%= javascript_tag do %>
  csx.initialize({ access_token: '<%= current_user.authentication_token %>' });
<% end %>
