<% provide(:title, "Dashboard") -%>
<div class="row">
  <div class="span10">
    <h1>Dashboard</h1>
    <hr />
  </div>
  <div class="btn-group span2">
    <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">Share... <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><%= link_to "Creation", new_creation_path %></li>
      <li><%= link_to "Tutorial", new_tutorial_path %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span7">
    <% @creations.each do |creation| %>
      <div class="media">
        <%= link_to creation, class: 'pull-left' do %>
          <img class="media-object" data-src="<%= creation.primary_image.image.thumb.url %>" alt="64x64" style="width: 64px; height: 64px;" src="<%= creation.primary_image.image.thumb.url %>">
        <% end %>
        <div class="media-body">
          <h4 class="media-heading"><%= creation.name %></h4>
          <%= creation.story %>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    <% end %>
  </div>
  <div class="span5">
    <% @activities.each do |activity| %>
      <%= render activity.subject.class.to_s.downcase, subject: activity.subject %>
    <% end %>
  </div>
</div>
