<%= render partial: "shared/account_nav" %>
<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <%= avatar_for(current_user) %>
    <%= form_for(@avatar, :url => my_avatar_path(@avatar), :method => :put, :multipart => true, remote: true, authenticity_token: true) do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Upload picture", :class => "btn btn-primary", data: { disable_with: "Uploading..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
