<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="col-9">
    <%= avatar_for(current_user) %>
    <%= form_for(@avatar, url: my_avatars_path, method: :post, :multipart => true, remote: true, authenticity_token: true) do |f| %>
      <div class="form-group">
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      <%= f.submit "Upload picture", :class => "btn btn-primary", data: { disable_with: "Uploading..." } %>
    <% end %>
  </div>
</div>
