<div class="thumbnail">
  <%= avatar_for(@user) %>
  <div class="caption">
    <h5><%= @user.name %></h5>
    <hr>
    <p><%= @user.city %></p>
    <% unless @user.website.blank? %>
      <p><a href="<%= @user.website %>" target="_blank">Website</a></p>
    <% end %>
    <% unless @user.twitter.blank? %>
      <p><a href="https://twitter.com/<%= @user.twitter %>" target="_blank" class="twitter-follow-button" data-show-count="false">Follow @<%= @user.twitter %></a></p>
      <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    <% end %>
    <% unless @user.facebook.blank? %>
      <p><a  href="<%= @user.facebook %>" target="_blank"><%= image_tag "f_logo_16x16x32.png", :alt => "Like us on Facebook" %> Like on Facebook</a></p>
    <% end %>
  </div>
</div>
