<% provide(:title, "Cake Artists") -%>
<% content_for :page_header do -%>
  <h1>Cake Artists</h1>
<% end -%>
<div class="row">
  <div class="span12 text-center"> <%= paginate @profiles %> </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @profiles.each do |profile| %>
        <li class="span3">
        <div class="thumbnail">
          <a href="<%= url_for profile_path(profile) %>"><%= avatar_for(profile) %></a>
          <div class="caption">
            <h5><a href="<%= url_for profile_path(profile) %>"><%= shrink(profile.name, 20) %></a></h5>
            <% if(profile.city.blank?) -%>
            <h6>somewhere in sugarland</h6>
            <% else -%>
            <h6><%= shrink(profile.city, 30) %></h6>
            <% end -%>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12 text-center"> <%= paginate @profiles %> </div>
</div>
