<% provide(:title, "Cake Artists") -%>
<div class="row-fluid">
  <div class="span12">
    <ul class="thumbnails">
      <% @profiles.each do |profile| %>
        <li class="span3">
        <div class="thumbnail">
          <%= link_to profile_path(profile) do %>
            <%= avatar_for(profile) %>
          <% end %>
          <div class="caption">
            <h5><%= link_to shrink(profile.name, 20), profile_path(profile) %> <small>(<%= profile.creations_count %>)</small></h5>

            <% if(profile.city.blank?) -%>
            <h6>somewhere in sugarland</h6>
            <% else -%>
            <h6><%= shrink(profile.city, 30) %></h6>
            <% end -%>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span12 text-center"> <%= paginate @profiles %> </div>
</div>
