
<div class="welcomeHolder">
  <div class="welcome">
    <img src="" width="417px" heigh="205px" alt="" class="photo" />
    <h1><%= @profile.name %></h1>
    <p><em>A member since <%= @profile.created_at %>, with <%= @profile.creations.length %> creations.</em></p>
    <div class="clear"></div>
  </div>
  <div class="welcomeBottom"></div>
</div>

<div class="heading"><%= @profile.name %></div>

<div class="organic">
  <% @profile.creations.reverse.each_with_index do |creation, index| %>
      <div class="organicHolder">
        <div class="organicContent">
          <a href="<%= url_for creation %>">
            <%= image_tag creation.image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt => creation.name %>
          </a>
          <h2><%= creation.name %></h2>
          <p><%= creation.story %> <%= link_to 'more...', creation %></p>
        </div>
      </div>
      <% if (index +1) % 3 == 0 %>
</div>

<div class="space"></div>
<div class="organic">

    <% end %>

  <% end %>
</div>

<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
