<% provide(:title, "#{@user.name}") -%>
<div class="row">
  <div class="span3">
    <div class="thumbnail">
      <%= avatar_for(@user) %>
      <div class="caption">
        <h5><%= @user.name %></h5>
        <hr>
        <p><%= @user.city %></p>
        <% unless @user.website.blank? %>
          <p><a href="<%= @user.website %>" target="_blank">Website</a></p>
        <% end %>
        <% unless @user.twitter.blank? %>
          <p><a href="https://twitter.com/<%= @user.twitter %>" target="_blank" class="twitter-follow-button" data-show-count="false">Follow @<%= @user.twitter %></a></p>
          <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
        <% end %>
        <% unless @user.facebook.blank? %>
          <p><a  href="<%= @user.facebook %>" target="_blank"><%= image_tag "f_logo_16x16x32.png", :alt => "Like us on Facebook" %> Like on Facebook</a></p>
        <% end %>
        <% if @user.latitude && @user.longitude %>
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
        <% end %>
      </div>
    </div>
    <% if @nearby_users.any? %>
    <div>
      <h4>Other Artists Nearby</h4>
      <ul class="unstyled">
      <% @nearby_users.each do |item| %>
        <li><%= link_to item.name, profile_path(item) %> <small>(<%= item.city %>)</small></li>
      <% end %>
      <%= image_tag @map_url %>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="span9">
    <h1><%= @user.name %> <small>A member since <%= @user.created_at.to_s :foomat %>, with <%= @user.creations.length %> creations.</small> </h1>
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
