<% content_for :title do %>
  <%= @profile.name %>
<% end %>

<div class="row">
  <div class="span12">
    <h1>
      <%= @profile.name %>
      <small>A member since <%= @profile.created_at.to_s :foomat %>, with <%= @profile.creations.length %> creations.</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="span3">
    <a href="<%= url_for profile_path(@profile) %>"><img src="<%= avatar_url @profile %>&amp;s=200" alt="<%= @profile.name %>" /></a>
    <a  href="<%= @profile.website %>">website</a>
    <% unless @profile.twitter.blank? %>
      <a href="https://twitter.com/<%= @profile.twitter %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @profile.twitter %></a>
      <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    <% end %>
  </div>
  <div class="span9">
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
