<% provide(:title, "#{@user.name}") -%>
<% content_for :page_header do -%>
  <h1><%= @user.name %> <small>A member since <%= @user.created_at.to_s :foomat %>, with <%= @user.creations.length %> creations.</small> </h1>
<% end -%>
<div class="row">
  <div class="span3">
    <%= render "me_box" %>
  </div>
  <div class="span9">
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
