<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    var ALL_TAGS = [ <% ActsAsTaggableOn::Tag.pluck(:name).sort!.each { |item| %> '<%= item %>', <% } %> ];
    Cake.initialize({ access_token: '<%= current_user.authentication_token %>' });
  <% end %>
<% end -%>

<%= render partial: "shared/account_nav", locals: { selected: :creations } %>
<div id="backbone-content"></div>
<div id="modal" class="modal hide fade"></div>
