<% content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#accepted').click(function(){
      if( $('#accepted').is(':checked')){
        $('#submit-registration').removeAttr('disabled');
      }
      else{
        $('#submit-registration').attr('disabled', 'disabled');
      }
    });
    $('#user_city').autocomplete({
      source: function(request, response){
        $.ajax({
          url: 'http://ws.geonames.org/searchJSON',
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: 'full',
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function(data){
            response( $.map(data.geonames, function(item){
              return {
                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                value: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                latitude: item.lat,
                longitude: item.lng
              }
            }));
          }
        });
      },
      minlength:2,
      select:function(event, ui){
        var item = ui.item;
        $('#user_latitude').val(item.latitude);
        $('#user_longitude').val(item.longitude);
      }
    });
  });
</script>
    <% end %>
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span6 hidden-phone">
            <%= image_tag "cakeside-logo.png" %>
            <div style="padding-left:10px;padding-right:10px;">
              <h3>Why CakeSide?</h3>
              <p>CakeSide is a community dedicated to giving cake artists, bakers, creators, hobbyists, and of course cake lovers a place to share ideas and creations. Explore your creativity and find your inspiration. Resources shared here are all user driven.</p>
              <h3>About Us</h3>
              <p>We are a passionate team dedicated to improving the cake sharing experience. Frustrated with the lack of community that provides more than just photo sharing, CakeSide was born. All features of this site will be user inspired. We love to listen so feel free to give us <a href="http://cakeside.uservoice.com/" target="_blank">feedback</a>. Check back often to see what's new in the CakeSide community!</p>
            </div>
          </div>
          <div class="span6">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "well form-inline"}) do |f| %>
              <legend>Got an account? Login!</legend>
              <%= f.email_field :email, :placeholder => 'Email', :class=> "input-medium" %>
              <%= f.password_field :password, :placeholder => 'Password', :class=> "input-medium" %>
              <%= f.submit "Sign In", :class => "btn" %>
              <br />
              <label for="checkbox" class="checkbox"><%= f.check_box :remember_me %> Remember me <%= link_to "Forgot your password?", new_password_path(resource_name) %></label>
            <% end %>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class=> 'form-horizontal' }) do |f| %>
              <fieldset>
                <legend>New to CakeSide? Join Us!</legend>
              </fieldset>
              <div class="control-group">
                <%= f.label :name, 'Full name', :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :name, :placeholder => 'required' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :city, 'City', :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :city, :placeholder => 'optional' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :email, 'Email', :class => "control-label" %>
                <div class="controls">
                  <%= f.email_field :email, :placeholder => 'required' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :password, 'Password', :class => "control-label" %>
                <div class="controls">
                  <%= f.password_field :password, :placeholder => 'required' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :password_confirmation, 'Confirm password', :class => "control-label" %>
                <div class="controls">
                  <%= f.password_field :password_confirmation, :placeholder => 'required' %>
                </div>
              </div>
              <div class="control-group">
                <label for="accepted" class="control-label"></label>
                <div class="controls">
                  <input id="accepted" name="accepted" type="checkbox" value="" checked="checked" /> I have read the <a href="/terms.html">terms and conditions</a> and the <a href="/privacy.html">privacy policy</a>
                </div>
              </div>
              <div class="form-actions">
                <%= f.submit "Sign up", :id => 'submit-registration', :class=> "btn btn-primary" %>
              </div>
              <%= f.hidden_field :latitude %>
              <%= f.hidden_field :longitude %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
