<% content_for :title do %>
  <%= @creation.name %> by <%= @creation.user.name %> - fanclub
<% end %>
<div class="page-header">
  <h1> fans of  <%= link_to @creation.name, creation_path(@creation) %> <small> submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> </small> </h1>
  <% @creation.categories.each do |category| %>
    <span class="label notice"><a href="/categories/<%= category.slug %>"><%= category.name %></a></span>
  <% end %> 
</div>
<div class="row">
  <div class="span12">
    <ul class="media-grid">
      <% @creation.favorites.each do |favorite| %>
        <a href="<%= url_for profile_path(favorite.user) %>">
          <img src="<%= avatar_url favorite.user %>&amp;s=200" alt="<%= favorite.user.name %>" />
        </a>
      <% end %>
    </ul>
  </div>
</div>
