<% provide(:title, "#{@creation.name} by #{@creation.user.name} - fanclub") -%>
<div class="row">
  <div class="span12">
    <h1> Fans of  <%= link_to @creation.name, creation_path(@creation) %> </h1>
    <ul class="thumbnails">
      <% @creation.favorites.each do |favorite| %>
        <li class="span3">
        <div class="thumbnail">
          <a href="<%= url_for profile_path(favorite.user) %>" class="thumbnail"><%= avatar_for(favorite.user) %></a>
          <div class="caption">
            <h5><%= favorite.user.name %></h5>
            <p><%= favorite.user.city %></p>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
