<% provide(:title, "#{@creation.name} by #{@creation.user.name} - fanclub") -%>
<div class="page-header">
  <h1> fans of  <%= link_to @creation.name, creation_path(@creation) %> <small> submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> </small> </h1>
</div>
<div class="row">
  <div class="span3">
    <a class="thumbnail" href="<%= url_for creation_path(@creation) %>"><img src="<%= @creation.image_url(:thumb).to_s %>" alt="<%= @creation.name %>" /></a>
  </div>
  <div class="span9">
    <ul class="thumbnails">
      <% @creation.favorites.each do |favorite| %>
        <li class="span3">
        <div class="thumbnail">
          <a href="<%= url_for profile_path(favorite.user) %>" class="thumbnail">
            <%= avatar_for(favorite.user) %>
          </a>
          <div class="caption">
            <h5><%= favorite.user.name %></h5>
            <p><%= favorite.user.city %></p>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
