<% content_for :title do %>
  Search Results for <%= @search %>
<% end %>
<div class="row">
  <div class="span12">
    <h1>Search Results for <em><%= @search %></em></h1>
    <hr />
  </div>
</div>
<%= render "shared/a_12_column_gallery" %>
<div class="row">
  <div class="span12">
    <div class="media-grid">
      <% @members.each do |artist| %>
        <a href="<%= url_for profile_path(artist) %>"><img src="<%= avatar_url artist %>&amp;s=210" alt="<%= artist.name %>" /></a>
      <% end %>
    </div>
    <div class="row">
      <div class="span3"> &nbsp;</div>
      <div class="span10"> <p> <%= paginate @members %> </p> </div>
      <div class="span3">&nbsp;</div>
    </div>
  </div>
</div>
