<% content_for :title do %>Search Results for <%= @search %><% end %>
<div class="row">
  <div class="span12">
    <h1>Search Results for <em><%= @search %></em></h1>
    <hr />
  </div>
</div>
<%= render "shared/a_12_column_gallery" %>
<div class="row">
  <% @members.each do |artist| %>
    <div class="span3">
      <div class="thumbnail">
        <a href="<%= url_for profile_path(artist) %>"><img src="<%= avatar_url artist %>&amp;s=260" alt="<%= artist.name %>" /></a>
        <div class="caption">
          <h5><%= artist.name %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="span3"> &nbsp; </div>
  <div class="span6"> <p> <%= paginate @members %> </p> </div>
  <div class="span3"> &nbsp; </div>
</div>
