<h1>Search Results for <em><%= @search %></em></h1>
<p><em>What time is it? Nana, nana, naaaaana caake time!</em></p>  

<%= form_tag(search_index_path, :method => "get", :name => "search") do %>
  <input name="q" type="text" value="<%= @search %>" />
  <%= submit_tag("search") %>
<% end %>

<% @creations.reverse.each do |creation| %>
<div class="product_box">
  <h2><%= creation.name %></h2>
  <a href="<%= url_for creation %>">
    <%= image_tag creation.image_url.to_s, :width => "285px", :height => "140px", :alt => creation.name %>
  </a>
  <p><%= creation.short_story %> <%= link_to 'more...', creation %></p>
</div>
<% end %>
