<h1>Search Results</h1>
<p><em>What time is it? Nana, nana, naaaaana caake time!</em></p>  

<h2>You searched for <%= search %></h2>

<% @creations.reverse.each do |creation| %>
<div class="product_box">
  <a href="<%= url_for creation %>">
    <%= image_tag creation.image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt => creation.name %>
  </a>
  <h2><%= creation.name %></h2>
  <p><%= creation.short_story %> <%= link_to 'more...', creation %></p>
</div>
<% end %>
