<% provide(:title, "#{@search}") -%>
<div class="row">
  <div class="span12">
    <h1>Search Results for <em><%= @search %></em></h1>
    <hr />
  </div>
</div>
<h3>Creations</h3>
<hr />
<%= render "shared/a_12_column_gallery" %>
<h3>Artists</h3>
<hr />
<div class="row">
  <% @members.each do |artist| %>
    <div class="span3">
      <div class="thumbnail">
        <a href="<%= url_for profile_path(artist) %>"><%= avatar_for(artist) %></a>
        <div class="caption">
          <h5><%= artist.name %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
