<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      var all_tags = [ <% ActsAsTaggableOn::Tag.pluck(:name).sort!.each { |item| %> '<%= item %>', <% } %> ];
      $('.tooltip-item').tooltip();
      $('#tags').tagit({ availableTags: all_tags });
    });
  </script>
<% end %>
<%= form_for(@creation, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :watermark, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :watermark, :class => "input-xlarge", :maxlength=> 30 %> on CakeSide.com
        <a class="tooltip-item" data-placement="right" rel="tooltip" href="#" data-original-title="Watermark your name or company on each uploaded image" data-animation="true"><i class="icon-question-sign"></i></a>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :story, "Description", :class=> "control-label" %>
      <div class="controls">
        <%= f.text_area :story, :class =>"input-xxlarge", :rows => "3" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Category</label>
      <div class="controls">
        <%= select_tag :category_id, options_from_collection_for_select(@categories, "id", "name") %>
      </div>
    </div>
    <div class="control-group">
      <label for="tags" class="control-label">Tags</label>
      <div class="controls">
      <% if @creation.present? %>
         <input name="creation_tags" type="text" id="tags" value="<% @creation.tags.map(&:name).each { |item| %><%= item %>,<% } %>" class="input-xxlarge" autocomplete="off" />
         <p class="help-block">
           <strong>Note:</strong> Adding tags will help people discover your creation.
         </p>
      <% else %>
        <input name="creation_tags" type="text" id="tags" value="" class="input-xxlarge" autocomplete="off" />
      <% end %>
    </div>
    </div>
        <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :is_restricted, :class =>"input-xxlarge" %>
          This cake is for adults only.
        </label>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">NEXT STEP</button>
      <%= link_to "Cancel", creation_path(@creation), class: 'btn' %>
    </div>
  </fieldset>
<% end %>
