<%= form_for(@creation, :html => {:multipart => true}) do |f| %>
  <% if @creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creation.errors.count, "error") %> prohibited this creation from being saved:</h2>
      <ul>
        <% @creation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "forms" %>
    </p>
    <p>
    <%= f.label :image, "Upload Image" %><br />
    <%= f.file_field :image, :class => "forms" %>
    </p>
    <p>
    <%= f.label :remote_image_url, "Or Image URL" %><br />
    <%= f.text_field :remote_image_url, :class => "forms" %>
    </p>
    <p>
    <%= f.label :story %><br />
    <%= f.text_area :story, :class => "forms"  %>
    </p>
    <% for category in Category.all %>
      <div>
        <label>
          <%= check_box_tag "creation[category_ids][]", category.id, @creation.categories.include?(category) %>
          <%= category.name %>
        </label>
      </div>
    <% end %>
    <input type="submit" id="submit" name="submit" value="share" />
  </fieldset>
<% end %>
