<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $('.tooltip-item').tooltip();
    });
  </script>
<% end %>
<%= form_for(@creation, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :watermark, "Brand This Image", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :watermark, :class => "input-medium", :maxlength=> 30 %> on CakeSide.com
        <a class="tooltip-item" data-placement="right" rel="tooltip" href="#" data-original-title="Add your name or company to the uploaded image" data-animation="true"><i class="icon-question-sign"></i></a>
      </div>
    </div>
    <div class="control-group">
      <%# f.label :image, "Upload Main Image", :class => "control-label" %>
      <label for="photo" class="control-label">Upload Main Image</label>
      <div class="controls">
        <%# f.file_field :image, :class => "input-file" %>
        <input type="file" name="photo" id="photo" value="" accept="image/*" />
      </div>
    </div>
    <div class="control-group">
      <%= f.label :story, "Description", :class=> "control-label" %>
      <div class="controls">
        <%= f.text_area :story, :class =>"input-xlarge", :rows => "3" %>
        <p class="help-block">
        Tell us the story or description of the creation.
        </p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Categories</label>
      <div class="controls">
        <% for category in Category.all %>
          <label class="checkbox">
            <%= check_box_tag "creation[category_ids][]", category.id, @creation.categories.include?(category) %>
            <%= category.name %>
          </label>
        <% end %>
        <p class="help-block">
        <strong>Note:</strong> 
        Help us categorize your creation by checking off one or more from the above list.
        </p>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :is_restricted, :class =>"input-xlarge" %>
          This creation probably should not be shown to kids.
        </label>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <a href="<%= url_for @creation %>" class="btn">Cancel</a>
    </div>
  </fieldset>
<% end %>
