<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      var all_tags = [ <% ActsAsTaggableOn::Tag.all.map(&:name).each { |item| %> '<%= item %>', <% } %> ];
      $('.tooltip-item').tooltip();
      $('#tags').tagit({
        availableTags: all_tags,
        singleField: true,
        singleFieldNode: $('#tag-fields')
      });
    });
  </script>
<% end %>
<%= form_for(@creation, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, "Creation name", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :watermark, "Brand this image", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :watermark, :class => "input-medium", :maxlength=> 30 %> on CakeSide.com
        <a class="tooltip-item" data-placement="right" rel="tooltip" href="#" data-original-title="Watermark your name or company to the uploaded image" data-animation="true"><i class="icon-question-sign"></i></a>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :story, "Description", :class=> "control-label" %>
      <div class="controls">
        <%= f.text_area :story, :class =>"input-xlarge", :rows => "3" %>
        <p class="help-block">
        Tell us the story or description about this creation.
        </p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Categories</label>
      <div class="controls">
        <% for category in Category.all %>
          <label class="checkbox">
            <%= check_box_tag "creation[category_ids][]", category.id, @creation.categories.include?(category) %>
            <%= category.name %>
          </label>
        <% end %>
        <p class="help-block">
        <strong>Note:</strong> 
        Help us categorize your creation by checking off one or more from the above list.
        </p>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :is_restricted, :class =>"input-xlarge" %>
          This creation probably should not be shown to kids.
        </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <% if @creation.present? %>
           <input name="creation_tags" id="tag-fields" value="<% @creation.tags.map(&:name).each { |item| %><%= item %>,<% } %>" type="hidden" />
        <% else %>
          <input name="creation_tags" id="tag-fields" value="" type="hidden" />
        <% end %>
        <ul id="tags"></ul>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">NEXT STEP</button>
      <a href="<%= url_for @creation %>" class="btn">Cancel</a>
    </div>
  </fieldset>
<% end %>
