<%= form_for(@creation, :html => {:multipart => true}) do |f| %>
  <% if @creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creation.errors.count, "error") %> prohibited this creation from being saved:</h2>
      <ul>
      <% @creation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="cute_form">
    <%# <%= f.label :image, 'data-editable' => 'false' %>
    <%# <%= f.file_field :image, :class => "forms", 'data-editable' => 'false'   %>
    <%# <%= f.label :remote_image_url, "or image url", 'data-editable' => 'false'  %>
    <%# <%= f.text_field :remote_image_url, :class => "forms", 'data-editable' => 'false'  %>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "forms" %>
    
    <%= f.label :image, "Upload Image",'data-editable' => 'false' %>
    <%= f.file_field :image, :class => "forms", 'data-editable' => 'false'   %>
    
    <%= f.label :remote_image_url, "Or Image URL", 'data-editable' => 'false'  %>
    <%= f.text_field :remote_image_url, :class => "forms", 'data-editable' => 'false'  %>

    <% for category in Category.all %>
    <div>
      <%= check_box_tag "creation[category_ids][]", category.id, @creation.categories.include?(category) %>
      <%= category.name %>
    </div>
    <% end %>
    <%= f.label :story %>
    <%= f.text_area :story, :class => "forms"  %>
    <input type="image" id="submit" name="submit" src="/images/template/button_submit.gif" title="Submit Message" />
  </fieldset>
<% end %>
