<div class="row-fluid">
  <div class="span6">
    <img class="thumbnail" src="<%= @primary_image.url_for(:large) %>" alt="<%= @creation.name %>" />
  </div>
  <div class="span6">
    <h1><%= link_to @creation.name, creation_path(@creation) %></h1>
    <p>By <%= link_to @creation.user.name, profile_path(@creation.user) %></p>
    <% if @creation.tags.any? %>
      <span> <i class="icon-tags"></i> </span>
      <% @creation.tags.each do |tag| -%>
        <%= link_to creation_tag_path(tag.name) do %>
          <span class="label"><%= tag.name %></span>
        <% end %>
      <% end -%>
    <% end -%>
    <hr />
    <div class="row-fluid">
      <div class="span6">
        <% if user_signed_in? %>
          <% unless current_user == @creation.user || current_user.already_likes(@creation) %>
            <%= button_to "ADD TO FAVORITES", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary', "data-event" => 'click-add-to-favorites' %>
      <% end %>
      <% else %>
        <p><%= link_to "SIGN UP FOR FREE", login_path, :class => "btn btn-primary" %></p>
      <% end %>
      </div>
    </div>
    <p><%= @creation.story %></p>
  </div>
</div>
