<% content_for :head do %>
  <style type="text/css">
    .preview { width:210px; height:150px; overflow:hidden; }
    .jcrop img { max-width:none; }
  </style>
  <script type="text/javascript" charset="utf-8">
    $(function() { Creations.Crop.initialize(); });
  </script>
<% end %>
<div class="row">
  <div class="page-header">
    <h1> <%= @creation.name %> <small> submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> </small> </h1>
    <% @creation.categories.each do |category| %>
      <span class="label notice"><a href="/categories/<%= category.slug %>"><%= category.name %></a></span>
    <% end %> 
  </div>
</div>
<div class="row">
  <div class="span9 jcrop">
    <h3>Do you want to crop the image as well?</h3>
    <%= image_tag @creation.image_url, :id => "cropbox" %>
  </div>
  <div class="span3 jcrop">
    <h3>Crop Preview</h3>
    <div class="preview">
      <%= image_tag @creation.image_url, :id => "preview" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= form_for @creation, :url => creations_crop_update_path(@creation) do |f| %>
      <% for attribute in [:crop_x, :crop_y, :crop_h, :crop_w] %>
        <%= f.hidden_field attribute, :id => attribute %>
      <% end %>
      <div class="form-actions">
        <%= f.submit "Crop and Publish", :class => "btn btn-large btn-primary" %>
        <a class="btn btn-large" href="<%= url_for creation_path(@creation) %>">Skip</a>
      </div>
    <% end %>
  </div>
</div>


