<% content_for :title do %>
  Editing creation <%= @creation.name %>
<% end %>

<div class="row">
  <div class="span16">
    <h1>Editing creation <em><%= @creation.name %></em></h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="media-grid">
      <a href="<%= url_for creation_path(@creation) %>">
        <%= image_tag @creation.image_url.to_s, :class => "thumbnail", :style => "width:235px;" %>
      </a>
    </div>

    <% if @creation.photos.length < 3 %>
      <% unless @creation.new_record? %>
        <%= form_tag(creation_photos_path(@creation), :method => "post", :multipart => true) do |f| %>
          <%= fields_for Photo.new do |f| %>
            <%= f.file_field :image, :rel => creation_photos_path(@creation) %>
            <input type="submit" class="btn primary" value="add another photo" />
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="span12">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="span1">&nbsp;</div>
  <% @creation.photos.each do |photo| %>
    <div class="span5 media-grid">
      <p><%= image_tag photo.image_url(:thumb) %></p>
      <p><%= link_to "Delete »", creation_photo_path(@creation, photo), :class => 'btn', :method => :delete, :confirm => "Are you sure?" %></p>
    </div>
  <% end %>
</div>
