<% content_for :title do %>
  Editing creation <%= @creation.name %>
<% end %>
<% content_for :script do %>
  $('label[data-editable="false"]').addClass('hidden');
  $('input[data-editable="false"]').addClass('hidden');
<% end %>


<div class="grid_9 alpha omega">
  <%= link_to 'Show', @creation, :class => 'fright' %>
  <h1>Editing creation <em><%= @creation.name %></em></h1>

  <%= image_tag @creation.image_url.to_s, :class => ['photo'] %>
  <%= render 'form' %>
</div>
