<% if user_signed_in?  -%>
  <%= render "shared/a_12_column_gallery" %>
<% else -%>
  <div class="row">
    <div class="span6">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <% @creations.each_with_index do |creation, index| %>
            <div class="item<%= index == 0 ?  ' active' : ''-%>">
              <img alt="<%= creation.name %>" src="<%= creation.image.large.url %>" style="display:block; margin-left:auto; margin-right:auto;" />
              <div class="carousel-caption">
                <h4><%= creation.name %></h4>
                <p><%= creation.story %></p>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="span6" style="background: url(/assets/sunset.png) no-repeat center 0px;opacity:0.8;">
      <img src="/assets/cakeside-logo.png" alt="" />
      <div style="padding-left:10px;padding-right:10px;">
        <h3>Why CakeSide?</h3>
        <p>CakeSide is a community dedicated to giving cake artists, bakers, creators, hobbyists, and of course cake lovers a place to share ideas and creations. Explore your creativity and find your inspiration. Resources shared here are all user driven.</p>
        <h3>About Us</h3>
        <p>We are a passionate team dedicated to improving the cake sharing experience. Frustrated with the lack of community that provides more than just photo sharing, CakeSide was born. All features of this site will be user inspired. We love to listen so feel free to give us <a href="http://cakeside.uservoice.com/" target="_blank">feedback</a>. Check back often to see what's new in the CakeSide community!</p>
      </div>
      <p style="text-align: center;">
        <a href="<%= url_for new_user_session_path %>" class="btn btn-primary btn-large">Sign Up Now!</a> or <%= link_to "sign in", new_user_session_path %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="marketing">
        <div class="row">
          <div class="span4">
            <img class="bs-icon" src="/assets/cupcake_share.png" alt="share your creativity" />
            <h2>Share your creativity</h2>
            <p>Show off your originality and find interesting ideas with fellow passionate CakeSide artists.</p>
          </div>
          <div class="span4">
            <img class="bs-icon" src="/assets/cupcake_promote.png" alt="promote yourself">
            <h2>Promote yourself</h2>
            <p>Get recognized for your work and connect with other artists with unique styles. </p>
          </div>
          <div class="span4">
            <img class="bs-icon" src="/assets/cupcake_inspire.png" alt="inspire a community">
            <h2>Inspire a community</h2>
            <p>Upload creations, teach with tutorials, and create a vibrant community for everything cake.</p>
          </div>
        </div>
        <div class="row">
          <p style="text-align: center;"> Still interested...? <a href="<%= url_for new_user_session_path %>">sign up now</a> </p>
        </div>
        <hr>
      </div>
    </div>
  </div>
<% end -%>
