<% provide(:description, "CakeSide is a free site to share your cake creations and ideas with other cake fanatics like yourself") -%>
<% content_for :javascript do -%>
<script type="text/javascript">  
  $(function(){
    var container = $('#creations-div');
    container.imagesLoaded(function(){
      container.masonry({
        itemSelector : '.span4',
        isResizable: true
      }); 
    });
  });
</script>
<% end -%>
<% unless user_signed_in?  -%>
  <div class="row">
    <div class="span6">
      <img alt="Welcome to Cakeside" src="/assets/cakeside-logo.png">
    </div>
    <div class="span6">
      <h1>Welcome cake enthusiast!</h1>
      <p style="font-size:15px;">
      <strong>Make</strong> cakes, <strong>sell</strong> cakes, or just <strong>love</strong> eating them? You've come to the right place!
      <strong>CakeSide</strong> is a free site to <strong>share</strong> your cake <strong>creations</strong> and <strong>ideas</strong> with other cake fanatics like yourself!</p><br/>
      <p style="text-align: center;">
      Get your cakes featured on this page <a href="<%= url_for new_user_session_path %>" class="btn btn-primary btn-large">Sign Up For Free!</a> or <%= link_to "sign in", new_user_session_path %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12">

      <div class="marketing">
        <div class="row">
          <div class="span4">
            <%#<img class="bs-icon" src="/assets/cupcake_share.png" alt="share your creativity" style="margin-left:auto;margin-right:auto;display:block;" />%>
            <h2 style="text-align:center;font-weight:bold;">Share your creativity</h2>
            <p style="text-align:center;">Show off your originality and find interesting ideas with fellow passionate CakeSide artists.</p>
          </div>
          <div class="span4">
            <%#<img class="bs-icon" src="/assets/cupcake_promote.png" alt="promote yourself" style="margin-left:auto;margin-right:auto;display:block;" />%>
            <h2 style="text-align:center;font-weight:bold;">Promote yourself</h2>
            <p style="text-align:center;">Get recognized for your work and connect with other artists with unique styles. </p>
          </div>
          <div class="span4">
            <%#<img class="bs-icon" src="/assets/cupcake_inspire.png" alt="inspire a community" style="margin-left:auto;margin-right:auto;display:block;" />%>
            <h2 style="text-align:center;font-weight:bold;">Inspire a community</h2>
            <p style="text-align:center;">Upload creations, teach with tutorials, and create a vibrant community for everything cake.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end -%>

<div class="row">
  <div class="span12">
    <div id="creations-div" class="row">
      <div class="span12">
      <ul class="thumbnails">
        <% @creations.each do |creation| %>
          <div class="span4">
            <div class="thumbnail">
              <a href="<%= url_for creation %>"><img src="<%= creation.primary_image.image.large.url %>" /></a>
              <div class="caption">
                <h3><a href="<%= url_for creation %>"><%= creation.name %></a> <em><small>by <a href="<%= url_for profile_path(creation.user) %>"> <%= shrink(creation.user.name, 20) %></a></small></em></h3>
                <p><%= creation.story %></p>
                <p><a class="btn" href="<%= url_for creation %>">View</a></p>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
      </div>
    </div>
    <%= render "shared/paging" %>
  </div>
</div>
