<div class="heading">The most recent creations</div>

<% @creations.reverse.each_with_index do |creation, index| %>
  <% if index % 3 == 0 %>
<div class="organic">
  <% end %>
    <div class="organicHolder">
      <div class="organicContent">
        <a href="#"><img src="/images/img02.jpg" alt="" /></a>
        <h2><%= creation.name %></h2>
        <p><%= creation.story %></p>
        <p>
        <%= link_to 'more...', creation %>
        <%= link_to 'edit', edit_creation_path(creation) %> |
        <%= link_to 'destroy', creation, :confirm => 'Are you sure?', :method => :delete %>
        </p>
      </div>
    </div>
  <% if index % 3 == 0 %>
</div>
  <% end %>

<% end %>


<div class="space"></div>

<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
