<% provide(:description, "CakeSide is a free site to share your cake creations and ideas with other cake fanatics like yourself") -%>
<% content_for :javascript do -%>
<script type="text/javascript">
  $(function(){ new Masonry('#creations-div').load(); });
</script>
<% end -%>
<% unless user_signed_in?  -%>
  <div class="row">
    <div class="span6">
      <%= image_tag "cakeside-logo.png", :alt => "Welcome to Cakeside" %>
    </div>
    <div class="span6">
      <h1>Welcome cake enthusiast!</h1>
      <p style="font-size:15px;">
      <strong>Make</strong> cakes, <strong>sell</strong> cakes, or just <strong>love</strong> eating them? You've come to the right place!
      <strong>CakeSide</strong> is a free site to <strong>share</strong> your cake <strong>creations</strong> and <strong>ideas</strong> with other cake fanatics like yourself!</p><br/>
      <p style="text-align: center;">
      Get your cakes featured on this page <%= link_to "Sign Up For Free!", new_user_session_path, class: "btn btn-primary btn-large" %> or <%= link_to "sign in", new_user_session_path %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="marketing">
        <div class="row">
          <div class="span4">
            <h2 style="text-align:center;font-weight:bold;">Share your creativity</h2>
            <p style="text-align:center;">Show off your originality and find interesting ideas with fellow passionate CakeSide artists.</p>
          </div>
          <div class="span4">
            <h2 style="text-align:center;font-weight:bold;">Promote yourself</h2>
            <p style="text-align:center;">Get recognized for your work and connect with other artists with unique styles. </p>
          </div>
          <div class="span4">
            <h2 style="text-align:center;font-weight:bold;">Inspire a community</h2>
            <p style="text-align:center;">Upload creations, teach with tutorials, and create a vibrant community for everything cake.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end -%>
<div class="row">
  <div class="span12">
    <div id="creations-div" class="row">
      <div class="span12">
      <ul class="thumbnails">
        <% @creations.each do |creation| %>
          <div class="span4">
            <div class="thumbnail">
              <%= link_to creation do %>
                <%= image_tag creation.primary_image.url_for(:large) %>
              <% end %>
              <div class="caption">
                <h3><%= link_to creation.name, creation %> <em><small>by <%= link_to shrink(creation.user.name, 20), profile_path(creation.user) %></small></em></h3>
                <p><%= creation.story %></p>
                <p><small><%= time_ago_in_words(creation.created_at) %> ago.</small></p>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
      </div>
    </div>
    <%= render "shared/paging", items: @creations %>
  </div>
</div>
