<% provide(:description, "CakeSide is a free site to share your cake creations and ideas with other cake fanatics like yourself") -%>
<% unless user_signed_in?  -%>
  <div class="row-fluid">
    <div class="span6">
      <%= image_tag "cakeside-logo.png", :alt => "Welcome to Cakeside", style: 'max-height:186px' %>
    </div>
    <div class="span6">
      <h1>Welcome cake enthusiast!</h1>
      <p style="font-size:15px;">
      <strong>Make</strong> cakes, <strong>sell</strong> cakes, or just <strong>love</strong> eating them? You've come to the right place!
      <strong>CakeSide</strong> is a free site to <strong>share</strong> your cake <strong>creations</strong> and <strong>ideas</strong> with other cake fanatics like yourself!</p><br/>
      <p style="text-align: center;">
      Get your cakes featured on this page <%= link_to "Sign Up For Free!", login_path, class: "btn btn-primary btn-large" %> or <%= link_to "sign in", new_session_path %>
      </p>
    </div>
  </div>
<% end -%>

<div id="bakery">
  <div class="row-fluid">
    <ul class="nav nav-tabs">
      <li class="<%= params[:sort].blank? || params[:sort] == "newest" ? "active" : "" %>"><%= link_to "Newest", newest_creations_path %></li>
      <li class="<%= params[:sort] == "oldest" ? "active" : "" %>"><%= link_to "Oldest", oldest_creations_path %></li>
    </ul>
  </div>
  <%= render partial: 'index' %>
</div>

<div id='pagination-row' class="row-fluid">
  <%= render "shared/paging", items: @creations %>
</div>
