<div class="heading">My Creations</div>

<div class="floatRight">
<%= link_to "add creation", new_creation_path(@creation) %>
</div>
<% if @creations.length == 0 %>

  <div class="width100">
    <p> you have no creations.  </p>
  </div>

<% else %>

  <div class="organic">
  <% @creations.reverse.each_with_index do |creation, index| %>
      <div class="organicHolder">
        <div class="organicContent">
          <a href="<%= url_for creation %>">
            <%= image_tag creation.image_url.to_s, :width => "285px", :height => "140px", :class => "photo" %>
          </a>
          <h2><%= creation.name %></h2>
          <p><%= creation.story %> <%= link_to 'more...', creation %></p>
          <p>
          
          </p>
        </div>
      </div>
      <% if (index +1) % 3 == 0 %>
  </div>

  <div class="space"></div>
  <div class="organic">

    <% end %>

  <% end %>

  </div>
<% end %>


<div class="space"></div>

<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
