<%= render :partial => "shared/account_nav", :locals => { :selected => :creations } %>
<div class="row">
  <div class="span12">
    <h1><%= @user.name %> <small>A member since <%= @user.created_at.to_s :foomat %>, with <%= @user.creations.length %> creations.</small> </h1>
    <%= render "shared/creation_image_gallery" %>
  </div>
</div>
