<% content_for :title do %>
  My Creations
<% end %>
<%= link_to "share my creation", new_creation_path(@creation), :class => 'floatRight' %>
<h1>My Creations</h1>

<% if @creations.length == 0 %>
  <p> 
  You have no creations. Would you like to <%= link_to "share your creation?", new_creation_path(@creation) %>
 </p>
<% else %>
  <% @creations.reverse.each do |creation| %>
    <div class="product_box">
      <h2><%= creation.name %></h2>
      <a href="<%= url_for creation %>">
        <%= image_tag creation.image_url.to_s, :width => "285px", :height => "140px", :class => "photo" %>
      </a>
      <p><%= creation.short_story %> <%= link_to 'more', creation %></p>
    </div>
  <% end %>
<% end %>
