<% content_for :title do %>
  Share my creation
<% end %>

<ul class="tabs">
  <li> <%= link_to "Profile", profiles_mine_path %></li>
  <li class="active"> <%= link_to "Share", new_creation_path %></li>
  <li><a href="#">Messages</a></li>
  <li> <%= link_to "Settings", edit_user_registration_path %> </li>
  <li><a href="#">Contact</a></li>
</ul>

<div class="row">
  <div class="span12">
    <%= render 'form' %>
  </div>
  <div class="span4">
    <div class="media-grid">
      <a href="<%= url_for profile_path(current_user) %>"><img src="<%= avatar_url current_user %>&amp;s=200" alt="<%= current_user.name %>" /></a>
    </div>
  </div>
</div>
