<% content_for :title do %>
  Share my creation
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/my_profile_sidebar" %>
<% end %>

<ul class="tabs">
  <li> <%= link_to "Profile", profiles_mine_path %></li>
  <li class="active"> <%= link_to "Share", new_creation_path %></li>
  <li><a href="#">Messages</a></li>
  <li> <%= link_to "Settings", edit_user_registration_path %> </li>
  <li><a href="#">Contact</a></li>
</ul>

<%# <div class="hero-unit">%>
<%#   <h1>Share your creation with other Cake artists, enthusiasts, and eaters!</h1>%>
<%#   <p>We&apos;re delighted that you're going to share your latest creation with us.<p>%>
<%#   <p><a class="btn primary large">Learn more &raquo;</a></p>%>
<%# </div>%>

<h2>Share My Latest Creation</h2>
<%= render 'form' %>
