<% provide(:title, "#{@creation.name} by #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<div class="page-header">
  <% if(@creation.is_restricted) -%>
    <div style="float:right;">
      <%= image_tag "ratedr.jpg", :class => "span1" %>
    </div>
  <% end -%>
  <h1>
    <%= @creation.name %> 
    <small>
      <% if @creation.user == current_user %>
        <%= link_to '(edit)', edit_creation_path(@creation) %> 
      <% end %>
      submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> on <%= @creation.created_at.to_s :foomat %> with <%= link_to pluralize(@creation.favorites.length, 'fan'), creation_favorites_path(:creation_id => @creation.id)%>
    </small> 
  </h1>
  <% @creation.categories.each do |category| %>
    <a href="/categories/<%= category.slug %>"><span class="label"><%= category.name %></span></a>
  <% end %> 
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <li class="span6"><a class="thumbnail" href="#"><img src="<%= @creation.image_url(:large).to_s %>" alt="<%= @creation.name %>" /></a></li>
      <% @creation.photos.each do |photo| %>
        <li class="span3"><a class="thumbnail" href="#"><img src="<%= photo.image.thumb.url.to_s %>" alt="<%= @creation.name %>" /></a></li>
      <% end %>
      <% if @creation.user == current_user %>
        <% if @creation.photos.length < 3 %>
          <div class="span3 visible-desktop">
            <h4>Add more photos to this creation</h4>
            <% unless @creation.new_record? %>
              <%= form_tag(creation_photos_path(@creation), :method => "post", :multipart => true, :html => {:class => ''}) do |f| %>
                <%= fields_for Photo.new do |f| %>
                  <div class="control-group">
                    <div class="controls">
                      <%= f.file_field :image, :rel => creation_photos_path(@creation) %>
                    </div>
                  </div>
                  <input type="submit" class="btn primary" value="Add photo" />
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end -%>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span7">
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>" scrolling="no" frameborder="0" style="border:none; width:350px; height:30px; float:left;"></iframe>
  </div>
  <div class="span2">
    <% if user_signed_in? %>
      <% unless current_user == @creation.user || current_user.already_likes(@creation) %>
        <%= button_to "Add to favorites", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= button_to "Add to favorites", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="span2 offset1">
    <p>
    <%= link_to 'fanclub (' + pluralize(@creation.favorites.length, 'fan') + ')', creation_favorites_path(:creation_id => @creation.id)%> 
    </p>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Description <% if @creation.user == current_user %><small><%= link_to '(edit)', edit_creation_path(@creation) %></small><% end %></h3>
    <hr />
    <p><%= @creation.story %></p>
  </div>
</div>
<br />
<div class="row">
  <a href="#" id="comments"></a>
  <div class="span12">
    <% unless user_signed_in? %>
      <p style="float:right;"><%= link_to "sign in", new_user_session_path %>  to comment </p>
    <% end -%>
    <h3>Comments <small><%= pluralize @creation.comment_threads.length, "comment" %></small></h3>
    <hr />
    <% unless(@creation.has_comments) -%>
      <div class="alert alert-info">
        Be the first to comment on this spectacular creation!
      </div>
    <% end -%>
    <table class="table table-striped">
      <% @creation.comment_threads.each do |comment| %>
        <tr>
          <td> <%= gravatar_for(comment.user) %> </td>
          <td>
            <h5>On <%= comment.created_at.to_s :foomat %> <%= comment.user.name %> said...</h5>
            <p><%= comment.body %></p>
          </td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
<% if user_signed_in? %>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span3 hidden-phone">
          <div class="thumbnail">
            <%= gravatar_for(current_user, {:size => 260 }) %>
            <div class="caption">
              <h5><%= current_user.name %></h5>
            </div>
          </div>
        </div>
        <div class="span9">
          <%= form_tag(creation_comments_path(@creation), :method => "post", :html => { :class => "form-horizontal"}) do |f| %>
            <%= fields_for Comment.new do |f| %>
              <%= f.text_area :body, :class => "span9" %>
              <input type="submit" class="btn" value="Add Comment" />
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
