<% content_for :title do %>
  <%= @creation.name %> by <%= @creation.user.name %>
<% end %>

<div class="page-header">
  <h1>
    <%= @creation.name %> 
    <small>
      <% if @creation.user == current_user %>
        <%= link_to '(edit)', edit_creation_path(@creation) %> 
      <% end %>
      submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> 
    </small> 
  </h1>
  <% @creation.categories.each do |category| %>
    <span class="label notice"><a href="/categories/<%= category.slug %>"><%= category.name %></a></span>
  <% end %> 
</div>

<div class="row">
  <div class="span1">
    <% if current_user == @creation.user %>
      &nbsp;
    <% else %>
      <%= button_to "+1", creation_likes_path(:creation_id => @creation.id), :method => :post %>
    <% end %>
  </div>
  <div class="span3 offset12">
    <%= link_to 'fanclub (' + pluralize(@creation.likes.length, 'like') + ')', creation_likes_path(:creation_id => @creation.id) %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="media-grid">
      <a href="<%= url_for creation_path(@creation) %>"><img class="thumbnail" src="<%= @creation.image_url(:large).to_s%>" alt="<%= @creation.name %>"></a>
    </div>
    <div class="row">
      <div class="span6">
        <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>" scrolling="no" frameborder="0" style="border:none; width:350px; height:30px"></iframe>
      </div>
      <div class="span6">
        <p> submitted on: <%= @creation.created_at.to_s :foomat %>
      </div>
    </div>
  </div>

  <div class="span4">
    <ul class="media-grid">
      <% @creation.photos.each do |photo| %>
        <li> <a href=""><img class="thumbnail" src="<%= photo.image.thumb.url.to_s%>" alt="<%= photo.image %>"></a> </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span16">
    <h3>Description</h3>
    <p><%= @creation.story %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="span16">
    <h1>Other Creations by <small><%= @creation.user.name %></small></h1>
  </div>
  <div class="span12">
    <%= render "shared/creation_image_gallery" %>
  </div>
  <div class="span4 media-grid">
    <a href="<%= url_for profile_path @creation.user %>"><img src="<%= avatar_url @creation.user %>&amp;s=200" alt="<%= @creation.user.name %>" /></a>
  </div>
</div>
