<% provide(:title, "#{@creation.name} By #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<% content_for :javascript do %>
<script type="text/javascript">
$(function() { 
  Creations.Show.initialize(); 
  mixpanel.track_forms(".form-horizontal", "commented");
  mixpanel.track_links(".add-to-favorites", "click-add-to-favorites", {'referrer': document.referrer });
  mixpanel.track_links(".sign-up", "click-sign-up", {'referrer': document.referrer });
  mixpanel.track_links(".tag-link", "click-on-tag", {'referrer': document.referrer });
  mixpanel.track_links("#add-comment-button", "click-on-add-comment", {'referrer': document.referrer });
  mixpanel.track_links("#sign-in-to-comment", "click-on-sign-in-to-comment", {'referrer': document.referrer });
});
</script>
<% end -%>
<% if @creation.user == current_user %>
  <div class="row">
  <div class="span12">
    <% if @creation.user == current_user %>
      <p>
    <%= link_to '<i class="icon-edit"></i> <strong>EDIT</strong>'.html_safe, edit_creation_path(@creation), :class => 'btn' %> 
    <a class="btn" href="<%= url_for new_creation_photo_path(@creation) %>"><i class="icon-plus"></i><strong>ADD IMAGES</strong></a>
    <a class="btn" href="<%= url_for creation_favorites_path(:creation_id => @creation.id) %>"><i class="icon-heart"></i> <strong>FANCLUB (<%=  pluralize(@creation.favorites.length, 'fan') %>)</strong></a>
    <%= link_to '<i class="icon-white icon-remove"></i> <strong>DELETE</strong>'.html_safe, creation_path(@creation),:confirm => "Are you sure you want to permanently remove this creation?", :method => :delete, :class => 'btn btn-danger pull-right' %>
    </p>
  <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span6">
    <img class="thumbnail" src="<%= @primary_photo.image.large.url %>" alt="<%= @creation.name %>" />
  </div>
  <div class="span6">
    <h1><%= link_to @creation.name, creation_path(@creation) %></h1>
    <p>By <%= link_to @creation.user.name, profile_path(@creation.user) %></p>
    <% if @creation.tags.any? %>
      <span> <i class="icon-tags"></i> </span>
      <% @creation.tags.each do |tag| -%>
        <a href="<%= url_for creation_tag_path(tag.name) %>" class="tag-link"><span class="label"><%= tag.name %></span></a>
      <% end -%>
    <% end -%>
    <hr />
    <div class="row">
      <div class="span3">
        <% if user_signed_in? %>
          <% unless current_user == @creation.user || current_user.already_likes(@creation) %>
          <%= button_to "ADD TO FAVORITES", creation_favorites_path(:creation_id => @creation.id), :method => :post, :id => 'add-to-favorites', :class => 'btn btn-primary' %>
      <% end %>
      <% else %>
        <p><%= link_to "SIGN UP FOR FREE", new_user_session_path, :id => 'sign-up', :class => "btn btn-primary" %></p>
      <% end %>
      </div>
      <div class="span3">
        <div class="row">
          <div class="span1">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="span1"><div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false"></div></div>
          <div class="span1"><a href="//pinterest.com/pin/create/button/?url=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>&media=<%= yield :product_image %>&description=<%= yield :product_social %>." data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a></div>
        </div>
      </div>
    </div>
    <p><%= @creation.story %></p>
  </div>
</div>

<% if @creation.photos_count > 1 %>
  <div class="row">
    <div class="span12">
      <%= link_to "view #{pluralize(@creation.photos_count, "photo")} &raquo;".html_safe, creation_photos_path(@creation), :class => "pull-right" %>
    </div>
    <div class="span12">
      <ul class="thumbnails">
      <% @creation.photos.each do |photo| %>
        <li class="span2"><%= image_tag photo.image.thumb.url, :class => "thumbnail" %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <a href="#" id="comments"></a>
  <div class="span12">
    <h3>Comments <small><%= pluralize @comments.length, "comment" %></small></h3>
    <% unless user_signed_in? %>
      <p><%= link_to "SIGN IN", new_user_session_path, :id => "sign-in-to-comment", :class => "btn btn-primary" %> to comment </p>
  <% else %>
      <p><a id="add-comment-button" class="btn btn-large btn-primary" data-toggle="modal" href="#add-comment-dialog"><i class="icon-comment"> </i>COMMENT</a></p>
  <% end -%>
    <% @comments.each do |comment| %>
      <div class="row">
      <div class="span6">
        <div class="row">
          <div class="span6">
            <h4><strong><a href="<%= url_for profile_path(comment.user) %>"><%= comment.user.name %> </a>said...</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <a href="<%= url_for profile_path(comment.user) %>" class="thumbnail"><%= avatar_for(comment.user, {:size => 260 }) %></a>
          </div>
          <div class="span6">
            <p> <%= comment.body %> </p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <p></p>
            <p>
            <i class="icon-user"></i> By <%= link_to comment.user.name, profile_path(comment.user) %>
          | <i class="icon-calendar"></i> <%= comment.created_at.to_s :foomat %> 
          </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end -%>
  </div>
</div>
<div id="add-comment-dialog" class="modal hide fade">
  <%= form_tag(creation_comments_path(@creation), :method => "post", :html => { :class => "form-horizontal"}) do |f| %>
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add Comment</h3>
  </div>
  <div class="modal-body">
    <%= fields_for Comment.new do |f| %>
      <%= f.text_area :body, :class => "span5" %>
  <% end %>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Add Comment" />
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
<% end %>
</div>
