<% provide(:title, "#{@creation.name} By #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<% content_for :javascript do %>
<script type="text/javascript">
  var ready = function(){ Creations.Show.initialize(); };
  $(document).ready(ready);
</script>
<% end -%>
<% if @creation.user == current_user %>
  <div class="row">
  <div class="span12">
    <% if @creation.user == current_user %>
    <p>
    <%= link_to edit_creation_path(@creation), class: 'btn' do %>
      <i class="icon-edit"></i> <strong>EDIT</strong>
    <% end %>
    <%= link_to new_creation_photo_path(@creation), class: 'btn' do %>
      <i class="icon-plus"></i><strong>ADD IMAGES</strong>
    <% end %>
    <%= link_to creation_favorites_path(:creation_id => @creation.id), class: 'btn' do %>
      <i class="icon-heart"></i> <strong>FANCLUB (<%=  pluralize(@creation.favorites.length, 'fan') %>)</strong>
    <% end %>
    <%= link_to creation_path(@creation), confirm: "Are you sure you want to permanently remove this creation?", method: :delete, class: 'btn btn-danger pull-right' do %>
      <i class="icon-white icon-remove"></i> <strong>DELETE</strong>
    <% end %>
    </p>
  <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span6">
    <%= link_to creation_photo_path(@creation, @creation.primary_image) do %>
      <img class="thumbnail" src="<%= @creation.primary_image.image.large.url %>" alt="<%= @creation.name %>" />
    <% end %>
  </div>
  <div class="span6">
    <h1><%= link_to @creation.name, creation_path(@creation) %></h1>
    <p>By <%= link_to @creation.user.name, profile_path(@creation.user) %></p>
    <% if @creation.tags.any? %>
      <span> <i class="icon-tags"></i> </span>
      <% @creation.tags.each do |tag| -%>
        <%= link_to creation_tag_path(tag.name), class: 'mix-link', data: { event: "click-on-tag" } do %>
          <span class="label"><%= tag.name %></span>
        <% end %>
      <% end -%>
    <% end -%>
    <hr />
    <div class="row">
      <div class="span3">
        <% if user_signed_in? %>
          <% unless current_user == @creation.user || current_user.already_likes(@creation) %>
            <%= button_to "ADD TO FAVORITES", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary', "data-event" => 'click-add-to-favorites' %>
      <% end %>
      <% else %>
        <p><%= link_to "SIGN UP FOR FREE", new_user_session_path, :class => "btn btn-primary mix-link", "data-event" => 'click-sign-up' %></p>
      <% end %>
      </div>
      <div class="span3">
        <div class="row">
          <div class="span1">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="span1"><div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false"></div></div>
          <div class="span1"><a href="//pinterest.com/pin/create/button/?url=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>&media=<%= yield :product_image %>&description=<%= yield :product_social %>." data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a></div>
        </div>
      </div>
    </div>
    <p><%= @creation.story %></p>
  </div>
</div>

<% if @creation.photos_count > 1 %>
  <div class="row">
    <div class="span12">
      <%= link_to "View #{pluralize(@creation.photos_count, "photo")} &raquo;".html_safe, creation_photos_path(@creation) %>
    </div>
    <div class="span12">
      <ul class="thumbnails">
      <% @creation.photos.each do |photo| %>
        <li class="span2">
          <%= link_to creation_photo_path(@creation, photo) do %>
            <%= image_tag(photo.image.thumb.url, :class => "thumbnail") %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= render :partial => "shared/disqus", :locals => { :id => "c-#{@creation.id}" } %>
