<% provide(:title, "#{@creation.name} by #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() { Creations.Show.initialize(); });
  </script>
<% end -%>
<% content_for :page_header do -%>
  <% if(@creation.is_restricted) -%>
    <div style="float:right;">
      <%= image_tag "ratedr.jpg", :class => "span1" %>
    </div>
  <% end -%>
  <h1>
    <%= @creation.name %> 
    <small> submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> on <%= @creation.created_at.to_s :foomat %> </small> 
  </h1>
  <% @creation.categories.each do |category| %>
    <a href="/categories/<%= category.slug %>"><span class="label"><%= category.name %></span></a>
  <% end %> 
  <% @creation.tags.each do |tag| -%>
    <a href="/tags/<%= tag.name %>"><span class="label"><%= tag.name %></span></a>
  <% end -%>
<% end -%>
<hr />
<% if @creation.user == current_user %>
  <div class="row" style="padding-bottom: 10px;">
    <div class="span12">
      <% if @creation.user == current_user %>
        <%= link_to '<i class="icon-edit"></i> <strong>Edit creation</strong>'.html_safe, edit_creation_path(@creation), :class => 'btn' %> 
        <a class="btn" href="<%= url_for new_creation_photo_path(@creation) %>"><i class="icon-plus"></i><strong>Add images to this creation</strong></a>
        <a class="btn" href="<%= url_for creation_favorites_path(:creation_id => @creation.id) %>"><i class="icon-heart"></i> <strong>fanclub (<%=  pluralize(@creation.favorites.length, 'fan') %>)</strong></a>
        <%= link_to '<i class="icon-white icon-remove"></i> <strong>Delete</strong>'.html_safe, creation_path(@creation),:confirm => "Are you sure you want to permanently remove this creation?", :method => :delete, :class => 'btn btn-danger pull-right' %>
      <% end %>
    </div>
  </div>
<% else %>
  <% if user_signed_in? %>
    <% unless current_user == @creation.user || current_user.already_likes(@creation) %>
      <div class="row">
        <div class="span2 pull-right">
          <%= button_to "ADD TO FAVORITES", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="span6">
    <ul class="thumbnails">
      <li class="span6">
        <a class="thumbnail gallery" href="<%= @primary_photo.image.large.url %>"><img src="<%= @primary_photo.image.large.url %>" alt="<%= @creation.name %>" /></a>
      </li>
      <% @creation.photos.each do |photo| %>
        <li class="span2">
          <a class="thumbnail gallery" href="<%= photo.image.large.url %>"><img src="<%= photo.image.thumb.url.to_s %>" alt="<%= @creation.name %>" /></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
    <h3>Description <% if @creation.user == current_user %><small><%= link_to '(edit)', edit_creation_path(@creation) %></small><% end %></h3>
    <p><%= @creation.story %></p>
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>" style="border:none; width:350px; height:30px; float:left;"></iframe>
  </div>
</div>
<div class="row">
  <a href="#" id="comments"></a>
  <div class="span12">
    <% unless user_signed_in? %>
      <p class="pull-right"><%= link_to "sign in", new_user_session_path %> to comment </p>
    <% else %>
      <p class="pull-right"><a id="add-comment-button" class="btn btn-primary" data-toggle="modal" href="#add-comment-dialog">Add Comment</a></p>
    <% end -%>
    <h3>Comments <small><%= pluralize @creation.comment_threads.length, "comment" %></small></h3>
    <% @creation.comment_threads.each do |comment| %>
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4><strong><a href="<%= url_for profile_path(comment.user) %>"><%= comment.user.name %> </a>said...</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="<%= url_for profile_path(comment.user) %>" class="thumbnail"><%= avatar_for(comment.user, {:size => 260 }) %></a>
            </div>
            <div class="span6">
              <p> <%= comment.body %> </p>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p></p>
              <p>
              <i class="icon-user"></i> by <%= link_to comment.user.name, profile_path(comment.user) %>
              | <i class="icon-calendar"></i> <%= comment.created_at.to_s :foomat %> 
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end -%>
  </div>
</div>
  <div id="add-comment-dialog" class="modal hide fade">
    <%= form_tag(creation_comments_path(@creation), :method => "post", :html => { :class => "form-horizontal"}) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Add Comment</h3>
      </div>
      <div class="modal-body">
        <%= fields_for Comment.new do |f| %>
          <%= f.text_area :body, :class => "span5" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add Comment" />
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    <% end %>
  </div>
