<h1><%= @creation.name %> by <em> <%= link_to @creation.user.name, profile_path(@creation.user) %> </em> </h1>

<% if signed_in? %>
  <div class="floatRight">
    <%= link_to "Add Creation", new_creation_path %>
  </div>
<% end %>

<div class="width100 floatLeft">
  <div class="width25 floatLeft">
    <p> <%= @creation.story %> </p>
  </div>
  <div class="width75 floatRight">
    <p> <%= image_tag @creation.image_url.to_s, :class => 'photo' %> </p>
    <p> submitted on: <%= @creation.created_at %> </p>
    <% if @creation.user == current_user %>
      <%= link_to 'Edit', edit_creation_path(@creation) %>
      <%= button_to 'Delete', @creation, :method => :delete %>
    <% end %>
  </div>
</div>

<hr />
<hr class="clear" />

<h3> other creations by <%= @creation.user.name.to_s %> <em><%= link_to 'view more...', profile_path(@creation.user) %> </em> </h3>
<% other_creations = @creation.user.creations.last(4).reverse %>
<% other_creations.each do |creation| %>
  <% if creation != @creation %>
  <div class="product_box">
    <a href="<%= url_for creation %>">
      <%= image_tag creation.image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt => creation.name %>
    </a>
    <h2><%= @creation.name %></h2>
    <p><%= creation.short_story %> <%= link_to 'more...', creation %></p>
  </div>
  <% end %>
<% end %>
