<% content_for :title do %>
  <%= @creation.name %> by <%= @creation.user.name %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/their_profile_sidebar" %>
<% end %>

<div class="grid_9">
  <% if @creation.user == current_user %>
    <h1><%= @creation.name %> <%= link_to '(edit)', edit_creation_path(@creation), :class => 'smallFont' %> by <em> <%= link_to @creation.user.name, profile_path(@creation.user) %> </em> </h1>
  <% else %>
    <h1><%= @creation.name %> by <em> <%= link_to @creation.user.name, profile_path(@creation.user) %> </em> </h1>
  <% end %>
</div>
<div class="clear"></div>

<div class="grid_9 alpha omega">

  <%= image_tag @creation.image_url.to_s, :class => ['photo'], :alt => @creation.name %>

</div>
<div class="clear"></div>

<div class="grid_9">
  <div class="fright">
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>" scrolling="no" frameborder="0" style="border:none; width:350px; height:30px"></iframe>
  </div>
  <p> submitted on: <%= @creation.created_at.to_s :foomat %>
    <% @creation.categories.each do |category| %>
      <a href="/categories/<%= category.slug %>"><%= category.name %></a>
    <% end %> 
  </p>
  <p><%= @creation.story %></p>
</div>
<div class="clear"></div>

<div class="grid_9 alpha omega">
  <h3> other creations by <%= @creation.user.name.to_s %> <em><%= link_to 'view all', profile_path(@creation.user) %> </em> </h3>
  <%= render "shared/creation_thumbs" %>
</div>
<div class="clear"></div>
