<% provide(:title, "#{@creation.name} by #{@creation.user.name}") -%>
<% provide(:description, "#{@creation.story}") -%>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() { 
      Creations.Show.initialize();
    });
  </script>
<% end -%>
<% content_for :page_header do -%>
  <% if(@creation.is_restricted) -%>
    <div style="float:right;">
      <%= image_tag "ratedr.jpg", :class => "span1" %>
    </div>
  <% end -%>
  <h1>
    <%= @creation.name %> 
    <small> submitted by <%= link_to @creation.user.name, profile_path(@creation.user) %> on <%= @creation.created_at.to_s :foomat %> </small> 
  </h1>
  <% @creation.categories.each do |category| %>
    <a href="/categories/<%= category.slug %>"><span class="label"><%= category.name %></span></a>
  <% end %> 
<% end -%>
<hr />
<% if @creation.user == current_user %>
  <div class="row" style="padding-bottom: 10px;">
    <div class="span12">
      <% if @creation.user == current_user %>
        <%= link_to '<i class="icon-edit"></i> <strong>Edit creation</strong>'.html_safe, edit_creation_path(@creation), :class => 'btn' %> 
        <a class="btn" href="<%= url_for new_creation_photo_path(@creation) %>"><i class="icon-plus"></i> <strong>Add images to this creation</strong></a>
        <%= link_to '<i class="icon-white icon-remove"></i> <strong>Delete</strong>'.html_safe, creation_path(@creation),:confirm => "Are you sure you want to permanently remove this creation?", :method => :delete, :class => 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span6">
    <ul class="thumbnails">
      <li class="span6"><a class="thumbnail gallery" href="<%= @primary_photo.image.large.url %>"><img src="<%= @primary_photo.image.large.url %>" alt="<%= @creation.name %>" /></a></li>
      <% @creation.photos.each do |photo| %>
        <li class="span2"><a class="thumbnail gallery" href="<%= photo.image.large.url %>"><img src="<%= photo.image.thumb.url.to_s %>" alt="<%= @creation.name %>" /></a></li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
    <h3>Description <% if @creation.user == current_user %><small><%= link_to '(edit)', edit_creation_path(@creation) %></small><% end %></h3>
    <p><%= @creation.story %></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>" style="border:none; width:350px; height:30px; float:left;"></iframe>
  </div>
  <div class="span2">
    <% if user_signed_in? %>
      <% unless current_user == @creation.user || current_user.already_likes(@creation) %>
        <%= button_to "Add to favorites", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= button_to "Add to favorites", creation_favorites_path(:creation_id => @creation.id), :method => :post, :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="span2">
    <p><%= link_to 'fanclub (' + pluralize(@creation.favorites.length, 'fan') + ')', creation_favorites_path(:creation_id => @creation.id)%></p>
  </div>
  <div class="span4"></div>
</div>
<div class="row">
  <a href="#" id="comments"></a>
  <div class="span12">
    <% unless user_signed_in? %>
      <p style="float:right;"><%= link_to "sign in", new_user_session_path %>  to comment </p>
    <% end -%>
    <h3>Comments <small><%= pluralize @creation.comment_threads.length, "comment" %></small></h3>
    <hr />
    <table class="table table-striped">
      <% @creation.comment_threads.each do |comment| %>
        <tr>
          <td> <%= gravatar_for(comment.user) %> </td>
          <td>
            <h5>On <%= comment.created_at.to_s :foomat %> <%= comment.user.name %> said...</h5>
            <p><%= comment.body %></p>
          </td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
<% if user_signed_in? %>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span3 hidden-phone">
          <div class="thumbnail">
            <%= gravatar_for(current_user, {:size => 260 }) %>
            <div class="caption">
              <h5><%= current_user.name %></h5>
            </div>
          </div>
        </div>
        <div class="span9">
          <%= form_tag(creation_comments_path(@creation), :method => "post", :html => { :class => "form-horizontal"}) do |f| %>
            <%= fields_for Comment.new do |f| %>
              <%= f.text_area :body, :class => "span9" %>
              <input type="submit" class="btn" value="Add Comment" />
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
