<% provide(:title, @tag) -%>
<% provide(:search_path, tutorials_path) %>
<div class="row">
  <div class="col">
    <table class='table'>
      <% @tutorials.each do |tutorial| %>
        <tr>
          <td>
            <h4><%= link_to tutorial.heading, tutorial.url %> <small><%= tutorial.created_at.to_s :foomat %></small></h4>
            <% tutorial.tags.each do |tag| -%>
              <%= link_to tutorial_tag_path(tag.name) do %>
                <span class="badge badge-light"><%= tag.name %></span>
              <% end %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<%= render "shared/paging", items: @tutorials %>
