<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <h1>Photos <small><%= @photos.count %></small></h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>filename</th>
          <th>content type</th>
          <th>geolocation</th>
          <th>created</th>
          <th>updated</th>
        </tr>
      </thead>
      <tbody>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= link_to photo.image, admin_photo_path(photo.id) %></td>
            <td><%= photo.content_type %></td>
            <td><%= photo.latitude %> <%= photo.longitude %></td>
            <td><%= time_ago_in_words(photo.created_at) %> ago</td>
            <td><%= time_ago_in_words(photo.updated_at) %> ago</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
