<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="col-9">
    <h1><%= @photos.count %> photos submitted</h1>
    <div class="card-columns">
      <% @photos.each do |photo| %>
        <div class="card">
          <%= image_tag photo.url_for(:thumb), class: "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title"><%= photo.image %></h4>
            <p class="card-text">
              This photo has a content type of <em><%= photo.content_type || "unknown" %></em>.
              <% if photo.latitude && photo.longitude %>
                It was taken at <%= photo.latitude %>,<%= photo.longitude %>.
              <% end %>
              <p>
                <%= link_to "Re-Process", admin_photo_path(photo.id), method: :put, class: 'btn btn-secondary', disable_with: 'Re-Processing..'  %>
              </p>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Created at <%= time_ago_in_words(photo.created_at) %> ago</small>
            <small class="text-muted">Last updated <%= time_ago_in_words(photo.updated_at) %> ago</small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
