<div class="row-fluid">
  <% @creations.each_slice(6).each do |batch| %>
    <ul class='thumbnails'>
      <% batch.each do |creation| %>
        <% cache creation do %>
          <li class="span2">
            <div class="thumbnail">
              <%= link_to cake_path(creation) do %>
                <%= image_tag creation.primary_image.url_for(:thumb) %>
              <% end %>
              <div class="caption">
                <h4><%= link_to shrink(creation.name, 12), cake_path(creation) %></h4>
                <p><%= link_to shrink(creation.user.name, 20), profile_path(creation.user) %></p>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
<div id='more-button-row' class="row-fluid">
  <%= link_to_next_page @creations, 'More...', params: { cache: false, sort: params[:sort], q: params[:q] }, remote: true, class: 'btn pull-right more-button hidden', data: { disable_with: 'loading...' } %>
</div>
