<div class="row" data-autoview="Cakes.ShowPage">
  <div class="col">
    <h1><%= link_to @creation.name, cake_path(@creation) %></h1>
    <p>By <%= link_to @creation.user.name, profile_path(@creation.user) %></p>
    <% if current_user? && current_user != @creation.user %>
      <% if current_user.already_likes(@creation) %>
        <i class="fa fa-star fa-4x float-right"></i>
      <% else %>
        <%= link_to "Add To Favorites", cake_favorites_path(cake_id: @creation.id), method: :post, id: 'add-to-favorites-button', class: 'btn btn-secondary float-right' %>
      <% end %>
    <% end %>
    <p>
      <i class="fa fa-filter icon-large"></i>
      <%= link_to @creation.category.name, category_path(@creation.category) %>
    </p>
    <% if @creation.tags.any? %>
      <span> <i class="icon-tags"></i> </span>
      <% @creation.tags.each do |tag| -%>
        <%= link_to creation_tag_path(tag.name) do %>
          <span class="badge badge-info"><%= tag.name %></span>
        <% end %>
      <% end -%>
    <% end -%>
    <hr />
    <p><%= render_markdown(@creation.story).html_safe -%></p>
  </div>
</div>
<div class="card-columns">
  <% @creation.photos.each do |photo| %>
    <div class="card">
      <%= image_tag photo.url_for(:large), class: "card-img-top" %>
    </div>
  <% end %>
</div>
