<% provide(:description, "CakeSide is a free site to share your cake creations and ideas with other cake fanatics like yourself") -%>
<% provide(:search_path, request.env['PATH_INFO'] || cakes_path) %>
<% provide(:container_class, 'container') %>

<% unless user_signed_in? %>
<div class="row jumbotron">
  <div class="col text-center">
    <%= image_tag "cakeside-logo.png", alt: "CakeSide", class: "img-fluid" %>
    <h1>Welcome cake enthusiast!</h1>
    <p> Do you make cakes, sell cakes, or just love eating them? Then you've come to the right place. </p>
    <p> CakeSide is a free site to share your cake creations and ideas with other cake fanatics like yourself. </p>
    <p> Get your cakes featured on this page. </p>
    <%= link_to "Sign Up For Free", login_path, class: "btn btn-primary btn-large" %> or <%= link_to "Sign in", new_session_path %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col">
    <nav class="nav nav-pills nav-fill">
      <%= link_to "All", url_for(params.merge(category: nil)), class: "nav-item nav-link #{"active" if params["category"].blank?}" %>
      <% @categories.each do |category| %>
        <%= link_to category.name.pluralize, url_for(params.merge(category: category.slug)), class: "nav-item nav-link #{"active" if params["category"] == category.slug}" %>
      <% end %>
      <%= link_to "Newest", url_for(params.merge(sort: "newest")), class: "nav-item nav-link #{"active" if "newest" == params["sort"]}" %>
      <%= link_to "Oldest", url_for(params.merge(sort: "oldest")), class: "nav-item nav-link #{"active" if "oldest" == params["sort"]}" %>
    </nav>
  </div>
</div>

<div class="row">
  <div id="bakery" class="col">
    <%= render partial: 'index' %>
  </div>
</div>
<%# render "shared/paging", items: @cakes %>
