<% provide(:description, "CakeSide is a free site to share your cake creations and ideas with other cake fanatics like yourself") -%>
<% provide(:search_path, request.env['PATH_INFO'] || cakes_path) %>
<% provide(:container_class, 'container') %>

<% unless user_signed_in?  -%>
  <div class="row">
    <div class="col">
      <%= image_tag "cakeside-logo.png", :alt => "Welcome to Cakeside", style: 'max-height:186px' %>
    </div>
    <div class="col">
      <h1>Welcome cake enthusiast!</h1>
      <p style="font-size:15px;">
      <strong>Make</strong> cakes, <strong>sell</strong> cakes, or just <strong>love</strong> eating them? You've come to the right place!
      <strong>CakeSide</strong> is a free site to <strong>share</strong> your cake <strong>creations</strong> and <strong>ideas</strong> with other cake fanatics like yourself!</p><br/>
      <p style="text-align: center;">
      Get your cakes featured on this page <%= link_to "Sign Up For Free!", login_path, class: "btn btn-primary btn-large" %> or <%= link_to "sign in", new_session_path %>
      </p>
    </div>
  </div>
<% end -%>

<div class="row">
  <div class="col">
    <nav class="nav nav-pills nav-fill">
      <%= link_to "All", url_for(params.merge(category: nil)), class: "nav-item nav-link #{"active" if params["category"].blank?}" %>
      <% @categories.each do |category| %>
        <%= link_to category.name.pluralize, url_for(params.merge(category: category.slug)), class: "nav-item nav-link #{"active" if params["category"] == category.slug}" %>
      <% end %>
      <%= link_to "Newest", url_for(params.merge(sort: "newest")), class: "nav-item nav-link #{"active" if "newest" == params["sort"]}" %>
      <%= link_to "Oldest", url_for(params.merge(sort: "oldest")), class: "nav-item nav-link #{"active" if "oldest" == params["sort"]}" %>
    </nav>
  </div>
</div>

<div class="row">
  <div id="bakery" class="col">
    <%= render partial: 'index' %>
  </div>
</div>
<%# render "shared/paging", items: @cakes %>
