<h1>Listing likes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Creation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @likes.each do |like| %>
  <tr>
    <td><%= like.user_id %></td>
    <td><%= like.creation_id %></td>
    <td><%= link_to 'Show', creation_like_path(like) %></td>
    <td><%= link_to 'Edit', edit_creation_like_path(like) %></td>
    <%# <td><%= link_to 'Destroy', like, confirm: 'Are you sure?', method: :delete %></td>%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Like', new_creation_like_path %>
