<% provide(:title, "Update My Account") -%>
<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
$(function(){ DeviseUsers.Edit.initialize(jQuery); });
</script>
<% end %>
<% content_for :page_header do -%>
  <h1>Settings</h1>
<% end -%>
  <div class="row">
    <div class="span3">
      <div class="thumbnail">
        <%= avatar_for current_user %>
        <div class="caption">
          <h5><%= current_user.name %></h5>
          <p>member since: <%= current_user.created_at.to_s :foomat %></p>
          <p>last signed in: <%= current_user.last_sign_in_at.to_s :foomat %></p>
          <%#<p><a id="change-picture" data-content="We use gravatar to display your profile picture. This is a friendly third party service that allows you to manage your profile picture associated with your email address." rel="popover" class="btn btn-primary" href="http://gravatar.com/emails" data-original-title="Gravatar">Change My Picture</a></p>%>
          <p><a id="change-avatar" class="btn btn-primary" data-toggle="modal" href="#change-avatar-dialog">Change My Picture</a></p>
          <p><a id="change-password-button" class="btn btn-primary" data-toggle="modal" href="#change-password-dialog">Change My Password</a></p>
        </div>
      </div>
      <div style="padding: 8px 0;" class="well">
        <ul class="nav nav-list">
          <li class="nav-header">Creations</li>
          <li><a href="<%= url_for root_path %>"><i class="icon-white icon-home"></i> Home</a></li>
          <li><a href="<%= url_for profiles_favorites_path -%>"><i class="icon-book"></i> My Favorites</a></li>
          <li><a href="<%= new_creation_path %>"><i class="icon-pencil"></i> Add Creation</a></li>
          <li class="nav-header">Account</li>
          <li><a href="<%= url_for profiles_mine_path %>"><i class="icon-user"></i> Profile</a></li>
          <li class="active"><a href="<%= url_for edit_user_registration_path %>"><i class="icon-cog"></i> Settings</a></li>
          <li class="divider"></li>
          <li><a href="http://cakeside.uservoice.com/"><i class="icon-flag"></i> Help</a></li>
        </ul>
      </div>
      <h4>Cancel My Account</h4>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %></p>
    </div>
    <div class="span9">
      <p> If you prefer not to change your password, then just leave it blank.  </p>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class=> "form-horizontal" }) do |f| %>
        <fieldset>
          <legend>Update your settings</legend>
          <div class="control-group">
            <%= f.label :name, :class => "control-label"  %>
            <div class="controls"> <%= f.text_field :name, :class => "input-xlarge" %> </div>
          </div>
          <div class="control-group">
            <%= f.label :email, :class => "control-label"  %>
            <div class="controls"> <%= f.email_field :email, :class => "input-xlarge"  %> </div>
          </div>
          <div class="control-group">
            <%= f.label :city, :class => 'control-label' %>
            <div class="controls"> <%= f.text_field :city, :class => "input-xlarge" %> </div>
          </div>
          <div class="control-group">
            <%= f.label :website, :class => "control-label" %> 
            <div class="controls"> <%= f.url_field :website, :class => "input-xlarge, url", :placeholder => "http://cakeside.com" %> </div>
          </div>
          <div class="control-group">
            <%= f.label :twitter, "Twitter username @", :class => "control-label" %> 
            <div class="controls"> <%= f.text_field :twitter, :class => "input-xlarge", :placeholder => "without the @ sign", :maxlength => "255" %> </div>
          </div>
          <div class="control-group">
            <%= f.label :facebook, :class => "control-label" %> 
            <div class="controls"> <%= f.text_field :facebook, :class => "input-xlarge", :placeholder => "http://www.facebook.com/your_profile", :maxlength => "255" %> </div>
          </div>
          <p class="help-block">
          <strong>Note:</strong> Help us better serve you by checking off what best describes you?
          </p>
          <div class="control-group">
            <label class="control-label">About me:</label>
            <div class="controls">
              <% for interest in Interest.all %>
                <label class="checkbox">
                  <%= check_box_tag "user[interest_ids][]", interest.id, current_user.interests.include?(interest) %>
                  <%= interest.name %>
                </label>
              <% end %>
            </div>
          </div><!-- /control-group -->
          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save changes" />
            <button type="reset" class="btn">Cancel</button>
          </div>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
        </fieldset>
      <% end %>
    </div>
  </div>
  <div id="change-avatar-dialog" class="modal hide fade">
    <%= form_tag(avatars_path(current_user), :method => "post", :multipart => true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Change My Picture</h3>
      </div>
      <div class="modal-body">
        <%= avatar_for(current_user) %>
        <%= fields_for Avatar.new do |f| %>
          <%= f.file_field :avatar, :rel => avatars_path(current_user) %>
        <% end %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <input type="submit" class="btn btn-primary" value="Save changes" />
      </div>
    <% end %>
  </div>
  <div id="change-password-dialog" class="modal hide fade">
    <%= form_for(@user, :url => settings_change_password_path(@user), :html => { :method => :post }) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Change My Password</h3>
      </div>
      <div class="modal-body">
        <%= f.label :password, "New Password" %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "Confirm New Password" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <%= f.submit "Change My Password", :class=>"btn btn-primary" %>
      </div>
    <% end %>
  </div>
