<% content_for :title do %>
  Update My Account
<% end %>
<ul class="tabs">
  <li> <%= link_to "Profile", profiles_mine_path %></li>
  <li> <%= link_to "Share", new_creation_path %></li>
  <li><a href="#">Messages</a></li>
  <li class="active"> <%= link_to "Settings", edit_user_registration_path %> </li>
  <li><a href="#">Contact</a></li>
</ul>
<div class="row">
  <div class="span12">
    <h1>Settings</h1>
    <p> If you prefer not to change your password, then just leave it blank.  </p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>Update your settings</legend>
        <div class="clearfix">
          <%= f.label :name  %>
          <div class="input"> <%= f.text_field :name, :class => "xlarge" %> </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <%= f.label :email  %>
          <div class="input"> <%= f.email_field :email, :class => "xlarge"  %> </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <%= f.label :password %> 
          <div class="input"> <%= f.password_field :password, :class => "xlarge"  %> </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <%= f.label :password_confirmation %> 
          <div class="input"> <%= f.password_field :password_confirmation, :class => "xlarge" %> </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <%= f.label :current_password %> 
          <div class="input"> <%= f.password_field :current_password, :class => "xlarge" %> </div>
        </div><!-- /clearfix -->
        <div class="actions">
          <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span4">
    <div class="media-grid">
      <a href="<%= url_for profile_path(current_user) %>"><img src="<%= avatar_url current_user %>&amp;s=200" alt="<%= current_user.name %>" /></a>
    </div>
    <a href="http://en.gravatar.com/" target="_blank">Change My Photo</a>
    <h4>Cancel My Account</h4>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "btn danger" %></p>
  </div>
</div>
