<% content_for :title do %>
  Update My Account
<% end %>
<% content_for :stylesheets do %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/my_profile_sidebar" %>
<% end %>

<div class="grid_9 alpha omega">
  <div class="grid_6 alpha">

    <h1>Update My Account</h1>
    <p>
    If you prefer not to change your password, then just leave it blank.
    </p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <p>
        <%= f.label :name, :style => 'display:block;' %>
        <%= f.text_field :name %>
        </p>

        <p>
        <%= f.label :email, :style => 'display:block;' %>
        <%= f.email_field :email %>
        </p>

        <p>
        <%= f.label :password, :style => 'display:block;' %> 
        <%= f.password_field :password %>
        </p>

        <p>
        <%= f.label :password_confirmation, :style => 'display:block;' %>
        <%= f.password_field :password_confirmation %>
        </p>

        <p>
        <%= f.label :current_password, :style => 'display:block;' %>
        <%= f.password_field :current_password %>
        </p>

        <input type="submit" value="update" />
      </fieldset>
    <% end %>
  </div>

  <div class="grid_3 omega">
    <div class="helpbox">
      <h4>other</h4>
      <ul>
        <li><a href="http://en.gravatar.com/">change your photo</a></li>
      </ul>
    </div>
    <div class="helpbox">
      <h4>Cancel My Account</h4>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></p>
    </div>
  </div>
</div>
<div class="clear" />


