<% content_for :title do %>
  C'mon In...
<% end %>

<div class="row">
  <div class="span16">
    <h1>Sign up</h1>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="alert-message warning">
        <%= devise_error_messages! %>
      </div>
      <fieldset>
        <legend>C'mon in and join the club</legend>
        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name %></p>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.email_field :email %>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password %>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation %>
          </div>
        </div><!-- /clearfix -->

        <div class="actions">
          <input type="submit" class="btn primary" value="Sign up">&nbsp;<button type="reset" class="btn">Cancel</button>
        </div>
      </fieldset>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
