<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="<%= selected == :creations ? "active" : "" %>"><%= link_to "Creations", mine_creations_path %></li>
      <li class="<%= selected == :favorites ? "active" : "" %>"><%= link_to "Favorites", profiles_favorites_path %></li>
      <li class="<%= selected == :basic_info ? "active" : "" %>"><%= link_to "Settings", settings_path %></li>
      <li class="<%= selected == :password ? "active" : "" %>"><%= link_to "Password", pwd_path %></li>
      <li class="<%= selected == :picture ? "active" : "" %>"><%= link_to "Picture", edit_avatar_path(current_user) %></li>
      <li class="pull-right">
        <%= link_to "Logout", destroy_user_session_path, class: "btn btn-inverse" %>
      </li>
    </ul>

  </div>
</div>
