<ul class="thumbnails">
  <% @creations.each do |creation| %>
    <li class="span3">
    <div class="thumbnail">
      <%= link_to creation, class: 'mix-link', data: { event: 'click-on-thumbnail' } do %>
        <img src="<%= creation.primary_image.image.thumb.url %>" alt="<%= creation.name %>" style="width:260px;height:180px;" />
      <% end %>
      <h3><%= link_to short_name(creation, 15), creation, class: 'mix-link', data: { event: 'click-on-title' } %></h3>
      <h4><small>By <%= link_to shrink(creation.user.name, 20), profile_path(creation.user) %></small></h4>
      <p>
      <%= link_to creation_favorites_path(:creation_id => creation.id) do %>
        <span class="badge"><%= creation.favorites.size %> <i class="icon-heart-empty"></i></span>
      <% end %>
      <span class="badge badge-warning"><i class="icon-comments"> <a href="<%= url_for creation %>#disqus_thread" data-disqus-identifier="c-<%= creation.id %>"></a></i></span>
      </p>
    </div>
    </li>
  <% end %>
</ul>
<%= render "shared/paging", items: @creations %>
