<h2>Recent Creations</h2>
<ul class="media-grid">
  <% @creations.each do |creation| %>
    <% if( creation.favorites.count > 0)  %>
      <li><a href="<%= url_for creation %>"><img class="thumbnail" src="<%= creation.image.thumb.url %>" alt="<%= creation.name %>"><%= creation.favorites.count%></a></li>
    <% else %>
      <li><a href="<%= url_for creation %>"><img class="thumbnail" src="<%= creation.image.thumb.url %>" alt="<%= creation.name %>"></a></li>
    <% end %>
  <% end %>
</ul>

<%= render "shared/paging" %>
