<div class="welcomeHolder">
  <div class="welcome">
    <a href="<%= url_for @creations[0] %>">
      <%= image_tag @creations[0].image_url.to_s, :width => 417, :height => 205, :class => 'photo' %>
    </a>
    <h1>Welcome to the CakeSide</h1>
    <p><em>An online community for cake artists, enthusiasists and eaters.</em></p>
    <p align="right">
    <a href="<%= url_for my_creations_path %>"><input type="button" value="MY CREATIONS" class="view" /></a>
    </p> 
    <div class="clear"></div>
  </div>
  <div class="welcomeBottom"></div>
</div>

<div class="heading">Mmm... Cake!</div>

<div class="organic">
  <div class="organicHolder">
    <div class="organicContent">
      <a href="<%= url_for @creations[0] %>">
        <%= image_tag @creations[0].image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt=> @creations[0].name %>
      </a>
      <h2><%= @creations[0].name %></h2>
      <p><%= @creations[0].story %></p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="organicContent">
      <a href="<%= url_for @creations[1] %>">
      <%= image_tag @creations[1].image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt=> @creations[1].name %>
      </a>
      <h2><%= @creations[1].name %></h2>
      <p><%= @creations[1].story %></p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="organicContent">
      <a href="<%= url_for @creations[2] %>">
      <%= image_tag @creations[2].image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt=> @creations[2].name %>
      </a>
      <h2><%= @creations[2].name %></h2>
      <p><%= @creations[2].story %></p>
    </div>
  </div>
</div>

<div class="space"></div>

<div class="organic">
  <div class="organicHolder">
    <div class="organicContent">
      <a href="<%= url_for @creations[3] %>">
      <%= image_tag @creations[3].image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt=> @creations[3].name %>
      </a>
      <h2><%= @creations[3].name %></h2>
      <p><%= @creations[3].story %></p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="organicContent">
      <a href="<%= url_for @creations[4] %>">
      <%= image_tag @creations[4].image_url.to_s, :width => "285px", :height => "140px", :class => "photo", :alt=> @creations[4].name %>
      </a>
      <h2><%= @creations[4].name %></h2>
      <p><%= @creations[4].story %></p>
    </div>
  </div>

  <div class="organicHolder">
    <div class="vegetable">
      <h3>Learn About Our Cakes</h3>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
