<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
$(function(){
  $('#tutorial_url').change(function(){
    var url = $('#tutorial_url').val();
    $.embedly(url, {}, function(data){
      $('#tutorial_heading').val(data.title);
      $('#tutorial_description').val(data.description);
      $('img.embed-thumb').attr('src', data.thumbnail_url);
      $('a.embed-url').attr('href', data.url);
      $('a.embed-url').text(data.title);
      $('a.embed-provider').attr('href', data.provider_url);
      $('a.embed-provider').text(data.provider_name);
      $('#tutorial_image_url').val(data.thumbnail_url);
    });
  });
});
</script>
<% end %>
    <div class="span8">
      <%= form_for(@tutorial, :html => {:class => "form-horizontal"}) do |f| %>
        <fieldset>
          <div class="control-group">
            <%= f.label :url, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :url, :class => "input-xlarge" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :heading, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :heading, :class => "input-xlarge" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :description, :class => "input-xlarge" %>
            </div>
          </div>
          <div class="control-group">
            <label for="tags" class="control-label">Tags:</label>
            <div class="controls">
              <input type="text" name="tutorial_tags" id="tags" data-source='<%= ActsAsTaggableOn::Tag.all.map(&:name) %>' data-items="4" data-provide="typeahead" style="margin: 0 auto;" class="input-xlarge" />
            </div>
          </div>
          <div class="form-actions">
            <%= f.hidden_field :image_url %>
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="<%= url_for tutorials_url %>" class="btn">Cancel</a>
          </div>
        </fieldset>
      <% end %>
    </div>
    <div class="span4">
      <div class="embed">
        <img class="embed-thumb" src="#">
        <a class="embed-url" href="#"></a>
        <a class="embed-provider" href="#"></a>
      </div>
    </div>
