<%= provide(:search_path, tutorials_path) %>
<% provide(:container_class, 'container-fluid') %>
<div class="row-fluid">
  <% @tutorials.each_slice(6).each do |batch| %>
    <ul class='thumbnails'>
      <% batch.each do |tutorial| %>
        <li class="span2">
          <div class="thumbnail">
            <%= link_to tutorial do %>
              <%= image_tag tutorial.image_url, width: 240 %>
            <% end %>
            <div class="caption">
              <small><%= link_to shrink(tutorial.heading, 20), tutorial %></small>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="row-fluid">
  <%= render "shared/paging", items: @tutorials %>
</div>
