<% provide(:description, "The latest tutorials") -%>
<% content_for :javascript do -%>
<script type="text/javascript">  
  $(function(){
    var container = $('#tutorials-div');
    container.imagesLoaded(function(){
      container.masonry({
        itemSelector : '.span4',
        isResizable: true
      }); 
    });
  });
</script>
<% end -%>
<style>
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
</style>
<% content_for :page_header do -%>
  <%= link_to 'Add Tutorial', new_tutorial_path, :class => "btn btn-primary pull-right" %>
  <% tag_cloud(Tutorial.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <a href="?tags=<%= tag.name %>"><span class="label <%= css_class %>"><%= tag.name %></span></a>
  <% end %>
<% end -%>
<div id="tutorials-div" class="row">
  <div class="span12">
  <ul class="thumbnails">
    <% @tutorials.each do |tutorial| %>
      <div class="span4">
        <div class="thumbnail">
          <img src="<%= tutorial.image_url %>" />
          <div class="caption">
            <h3><a href="<%= tutorial.url %>" target="_blank"><%= tutorial.heading %></a> <small><%= tutorial.created_at.to_s :foomat %></small></h3>
            <p>
            <% tutorial.tags.each do |tag| -%>
              <a href="?tags=<%= tag.name %>"><span class="label"><%= tag.name %></span></a>
            <% end -%>
            </p>
            <p><%= tutorial.description %></p>
            <p><a class="btn" href="<%= url_for tutorial %>">View</a></p>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
  </div>
</div>
<div class="row">
  <div class="span12"> <%= paginate @tutorials %> </div>
</div>
