<% provide(:description, "The latest tutorials") -%>
<div class="row-fluid">
  <%= link_to 'New Tutorial', new_tutorial_path %>
  <ul class="thumbnails">
    <% @tutorials.each do |tutorial| %>
      <div class="span4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= tutorial.heading %></h3>
            <p><%= tutorial.description %></p>
            <p><a class="btn btn-primary" href="<%= tutorial.url %>">Read</a> <a class="btn" href="<%= url_for tutorial %>">View</a></p>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
