<%= provide(:search_path, tutorials_path) %>
<% provide(:container_class, 'container-fluid') %>
<div class="row-fluid">
  <table class='table'>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td>
          <h4><a href="<%= tutorial.url %>" target="_blank"><%= tutorial.heading %></a> <small><%= tutorial.created_at.to_s :foomat %></small></h4>
          <% tutorial.tags.each do |tag| -%>
            <%= link_to tutorial_tag_path(tag.name) do %>
              <span class="label"><%= tag.name %></span>
            <% end %>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="row-fluid">
  <%= render "shared/paging", items: @tutorials %>
</div>
