<%= provide(:search_path, tutorials_path) %>

<div class="row">
  <div class="col">
    <img src="<%= @tutorial.image_url %>" />
  </div>
  <div class="col">
    <h3><%= @tutorial.heading %></h3>
    <small><%= @tutorial.created_at.to_s :foomat %></small>
    <p>
    <% @tutorial.tags.each do |tag| -%>
      <%= link_to tutorial_tag_path(tag.name) do %>
        <span class="badge badge-info"><%= tag.name %></span>
      <% end %>
    <% end -%>
    </p>
    <p><%= @tutorial.description %></p>
    <p><a class="btn btn-primary" href="<%= @tutorial.url %>" target="_blank">Read full article</a></p>
  </div>
</div>
