<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <%= form_for(@user, :url => my_password_path(@user), :html => { :method => :patch, :class => "form-horizontal" }) do |f| %>
      <div class="control-group">
        <%= f.label :password, "New password", :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password_confirmation, "Confirm new password", :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Change password", :class=>"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
