<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <h1>Jobs <small><%= Time.now.utc %></small></h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>id</th>
          <th>attempts</th>
          <th>status</th>
          <th>locked by</th>
          <th>queue</th>
          <th>run at</th>
          <th>locked at</th>
          <th>created at</th>
          <th>updated at</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= link_to job.id, admin_job_path(job) %></td>
            <td><%= job.attempts %></td>
            <td><%= job.last_error.present? ? link_to('FAILED', admin_job_path(job)) : '' %></td>
            <td><%= job.locked_by %> </td>
            <td><%= job.queue %></td>
            <td><%= job.run_at.try(:to_formatted_s, :short) %></td>
            <td><%= job.locked_at.try(:to_formatted_s, :short) %></td>
            <td><%= job.created_at.try(:to_formatted_s, :short) %></td>
            <td><%= job.updated_at.try(:to_formatted_s, :short) %></td>
            <td>
              <%= link_to "Retry", admin_job_path(job), method: :put, class: 'btn', disable_with: 'Retrying...' %>
              <%= link_to "Destroy", admin_job_path(job), method: :delete, class: 'btn btn-danger', disable_with: 'Deleting...' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
