<% provide(:container_class, 'container-fluid') %>
<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <h1><%= @job.handler %></h1>
    <p><%= link_to "<< Back", admin_jobs_path %></p>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>id</th>
          <th>attempts</th>
          <th>priority</th>
          <th>status</th>
          <th>locked by</th>
          <th>queue</th>
          <th>run at</th>
          <th>locked at</th>
          <th>created at</th>
          <th>updated at</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @job.id, admin_job_path(@job) %></td>
          <td><%= @job.attempts %></td>
          <td><%= @job.priority %></td>
          <td><%= @job.last_error.present? ? link_to('FAILED', admin_job_path(@job)) : 'Not Run' %></td>
          <td><%= @job.locked_by %> </td>
          <td><%= @job.queue %></td>
          <td><%= @job.run_at %></td>
          <td><%= @job.locked_at %></td>
          <td><%= @job.created_at %></td>
          <td><%= @job.updated_at %></td>
        </tr>
      </tbody>
    </table>

    <h2><%= @job.failed_at %></h2>
    <%= debug @job.last_error %>
  </div>
</div>
