<div class="row-fluid">
  <div class="span2">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="span10">
    <h1>User Sessions <small>(<%= UserSession.count %>)</small></h1>
    <%= line_chart UserSession.group_by_month(:created_at).count %>

    <h1>Registrations <small>(<%= User.count %>)</small></h1>
    <%= line_chart User.group_by_month(:created_at).count %>

    <h1>Comments <small>(<%= Comment.count %>)</small></h1>
    <%= line_chart Comment.group_by_month(:created_at).count %>

    <h1>Favorites <small>(<%= Favorite.count %>)</small></h1>
    <%= line_chart Favorite.group_by_month(:created_at).count %>

    <h1>Photos <small>(<%= Photo.count %>)</small></h1>
    <%= line_chart Photo.group_by_month(:created_at).count %>

    <h1>Locations <small>(<%= Location.count %>)</small></h1>
    <%= geo_chart Location.group(:country).count %>
  </div>
</div>
