<div class="row">
  <div class="col">
    <h1>Reset Password</h1>
    <%= form_for(@user, url: password_path(@user.reset_password_token), html: { method: :put }, class: "form-horizontal") do |f| %>
      <legend>Enter your new password</legend>
      <div class="form-group">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <%= f.hidden_field :reset_password_token %>
      <%= f.submit "Change my password", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

