<div class="row">
  <div class="span12">
      <h3>Change My Password</h3>
    <%= form_for(@user, :url => settings_change_password_path(@user), :html => { :method => :post }) do |f| %>
      <div class="control-group">
        <%= f.label :password, "New Password", :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password_confirmation, "Confirm New Password", :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Change My Password", :class=>"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
