<% if(hasImage()) { %>
  <% photo = randomPhoto() %>
  <a href="#cakes/<%= id %>" class="pull-left">
    <img class="media-object" data-src="<%= photo.thumb_url %>" alt="64x64" style="width: 64px; height: 64px;" src="<%= photo.thumb_url %>">
  </a>
<% } %>
<div class="media-body">
  <h4 class="media-heading"><%= name %></h4>
  <%= story %>
  <p>
    <a href="#cakes/<%= id %>/edit"><i class="fa fa-edit"></i>edit</a>
    <a href="<%= Routes.cake_favorites_path(id) %>"><i class="fa fa-heart"></i>fanclub</a>
    <span class="badge badge-warning"><i class="fa fa-comment"></i><a href="/creations/<%= id %>#disqus_thread" data-disqus-identifier="c-<%= id %>"></a></span>
  </p>
</div>
