<div class="row">
  <div class="col">
    <h1><small>Edit</small> <%= cake.name %></h1>
    <hr />
    <form id="edit-cake" name="cake" class="form-horizontal">
      <div class="form-group">
        <a class="btn btn-primary add-photo">Upload Photo...</a>
      </div>
      <div class="form-group">
        <label class="" for="cake_name">Name</label>
        <input class="form-control" id="cake_name" name="name" type="text" value="<%= cake.name %>" required="required" />
      </div>
      <div class="form-group">
        <label for="category_id">Category</label>
        <select id="cake_category_id" name="category_id" class="form-control">
          <% _.each(categories, function(category) { %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label class="" for="cake_story">Description</label>
        <textarea class="form-control" id="cake_story" name="story" rows="3"><%= cake.story %></textarea>
      </div>
      <div class="form-group">
        <label for="cake_tags" class="">Tags</label>
        <% if (typeof(cake.tags) === "string") { %>
          <% tags = _.map(cake.tags.split(','), function(x){ return x; }) %>
        <% } else { %>
          <% tags = _.map(cake.tags, function(x){ return x.name; }) %>
        <% } %>
        <input name="cake_tags" type="text" id="cake_tags" value="<%= tags %>" class="form-control" autocomplete="off" />
      </div>
      <button id='save-button' type="submit" class="btn btn-primary">Publish</button>
      <a href="#cakes/<%= cake.id %>" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
<div class="row">
  <ul class="thumbnails"></ul>
</div>
