<div class="row">
  <div class="span2">
    <p> <a class="btn btn-primary add-photo">Add Photo...</a> </p>
    <ul class="thumbnails"></ul>
  </div>
  <div class="span10">
    <h1><small>Edit</small> <%= cake.name %></h1>
    <hr />
    <form id="edit-cake" name="cake" class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="cake_name">Name*</label>
          <div class="controls">
            <input class="input-xxlarge" id="cake_name" name="name" type="text" value="<%= cake.name %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Category</label>
          <div class="controls">
            <select id="cake_category_id" name="category_id">
              <% _.each(categories, function(category) { %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="cake_watermark">Watermark</label>
          <div class="controls">
            <input class="input-xlarge" id="cake_watermark" maxlength="30" name="watermark" size="30" type="text" value="<%= cake.watermark %>"> on CakeSide.com
            <a class="tooltip-item" data-placement="right" rel="tooltip" href="#" data-original-title="Watermark your name or company on each uploaded image" data-animation="true"><i class="icon-question-sign"></i></a>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="cake_story">Description</label>
          <div class="controls">
            <textarea class="input-xxlarge" id="cake_story" name="story" rows="3"><%= cake.story %></textarea>
          </div>
        </div>
        <div class="control-group">
          <label for="cake_tags" class="control-label">Tags</label>
          <div class="controls">
          <% if (typeof(cake.tags) === "string") { %>
            <% tags = _.map(cake.tags.split(','), function(x){ return x; }) %>
          <% } else { %>
            <% tags = _.map(cake.tags, function(x){ return x.name; }) %>
          <% } %>
          <input name="cake_tags" type="text" id="cake_tags" value="<%= tags %>" class="input-xxlarge" autocomplete="off" />
          </div>
        </div>
        <div class="form-actions">
          <button id='save-button' type="submit" class="btn btn-primary">Publish</button>
          <a href="#cakes/<%= cake.id %>" class="btn">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
