<div class="row">
  <div class="span12">
    <p>
    <a href="#/cakes/<%= id %>/edit" class="btn">
      <i class="icon-edit"></i> <strong>Edit</strong>
    </a>
    <a class="btn add-photo">
      <i class="icon-plus"></i><strong>Add Photo</strong>
    </a>
    <a href="<%= Routes.creation_favorites_path(id) %>" class="btn">
      <i class="icon-heart"></i> <strong>Fan Club</strong>
    </a>
    <a href="remove-cake" class="btn btn-danger pull-right">
      <i class="icon-white icon-remove"></i> <strong>Remove</strong>
    </a>
    </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <% if (hasImage()) { %>
    <% random_photo = randomPhoto()%>
    <a href="#/cakes/<%= id %>/photos/<%= random_photo.id %>">
      <img class="thumbnail" src="<%= random_photo.large_url %>" alt="<%= name %>" />
    </a>
    <% } %>
  </div>
  <div class="span6">
    <h1><a href="#/cakes/<%= id %>"><%= name %></a></h1>
    <span> <i class="icon-tags"></i> </span>
    <% if (typeof(tags) === "string") { %>
      <% _.each(tags.split(','), function(tag){ %>
        <a href="<%= Routes.creation_tag_path(tag) %>">
          <span class="label"><%= tag %></span>
        </a>
      <% }); %>
    <% } else { %>
      <% _.each(tags, function(tag){ %>
        <a href="<%= Routes.creation_tag_path(tag.name) %>">
          <span class="label"><%= tag.name %></span>
        </a>
      <% }); %>
    <% } %>
    <hr />
    <p><%= story %></p>
  </div>
</div>
<div class="row">
  <div class="span12">
    <a class="btn add-photo">Add Photo</a>
    <a href="#/cakes/<%= id %>/edit">(edit)</a>
  </div>
  <div class="span12">
    <ul class="thumbnails"></ul>
  </div>
</div>
