<% provide(:title, "#{@tag}") -%>
<% content_for :javascript do -%>
<script type="text/javascript">  
  $(function(){
    var container = $('#creations-div');
    container.imagesLoaded(function(){
      container.masonry({ itemSelector : '.span4', isResizable: true });
    });
  });
</script>
<% end -%>
<div class="row">
  <div class="span9">
    <h1><%= @total_creations %> creations tagged <em><%= @tag %></em></h1>
  </div>
  <div class="span3">
    <p class="pull-right"><%= link_to "#{@total_tutorials} tutorials", tutorial_tag_path(@tag) %> &raquo;</p>
  </div>
</div>
<div id="creations-div" class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% @creations.each do |creation| %>
      <div class="span4">
        <div class="thumbnail">
          <a href="<%= url_for creation %>"><img src="<%= creation.primary_image.image.large.url %>" /></a>
          <div class="caption">
            <h3><a href="<%= url_for creation %>"><%= creation.name %></a> <em><small>by <a href="<%= url_for profile_path(creation.user) %>"> <%= shrink(creation.user.name, 20) %></a></small></em></h3>
            <p><%= creation.story %></p>
            <p><a class="btn" href="<%= url_for creation %>">View</a></p>
          </div>
        </div>
      </div>
    <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12 text-center"> <%= paginate @creations %> </div>
</div>
