<%= provide(:search_path, admin_products_path) %>
<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="col-9">
    <h1>Product Catalog - Amazon</h1>
    <%= form_tag admin_products_path(js: true), method: :get, name: 'search', class: 'form-horizontal', remote: true do %>
      <%= text_field_tag :q, params[:q], class: "search-query", placeholder: "Search" %>
      <%= submit_tag 'Search', class: 'btn btn-primary', data: { disable_with: 'Searching...' } %>
    <% end %>
    <div id="results-container">
      <%= render partial: "index" %>
    </div>
  </div>
</div>

