<% provide(:title, "My Favorites") -%>
<div class="row">
  <div class="col-3">
    <%= render partial: "my/shared/my_nav" %>
  </div>
  <div class="col-9">
    <div class="card-columns">
      <% @creations.each do |cake| %>
        <div class="card">
          <%= link_to cake_path(cake) do %>
            <%= image_tag cake.primary_image.url_for(:thumb), class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= truncate(cake.name, length: 12) %></h4>
            <p class="card-text"><%= link_to truncate(cake.author.name, length: 25), profile_path(cake.author) %></p>
            <p class="card-text"><%= truncate(cake.story, length: 25) %></p>
            <p class="card-text"><small class="text-muted"><%= cake.created_at %></small></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
