<%= render :partial => "shared/account_nav", :locals => { :selected => :picture } %>

<div class="row">
  <div class="span12">
    <%= avatar_for(current_user) %>
    <%= form_for(avatar_path(@avatar), :method => :put, :multipart => true) do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Upload picture", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
