<% content_for :javascript do %>
<script type="text/javascript">
try { mixpanel.track_forms(".edit_avatar", "uploaded avatar"); } catch {}
</script>
<% end %>

<%= render :partial => "shared/account_nav", :locals => { :selected => :picture } %>
<div class="row">
  <div class="span12">
    <%= avatar_for(current_user) %>
    <%= form_for(@avatar, :url => avatar_path(@avatar), :method => :put, :multipart => true, remote: true, authenticity_token: true) do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Upload picture", :class => "btn btn-primary", disable_with: "Uploading..." %>
        </div>
      </div>
    <% end %>
  </div>
</div>
