<% provide(:title, "#{@category.name} Cakes") -%>
<% content_for :page_header do -%>
  <h1>Category <em><%= @category.name %></em></h1>
<% end -%>
<div class="row">
  <div class="span3">
    <ul class="well nav nav-pills nav-stacked">
      <% Category.all.each do |category| %>
        <% if(category == @category) -%>
          <li class="active"><a href="/categories/<%= category.slug %>"><%= category.name %></a></li>
        <% else -%>
          <li><a href="/categories/<%= category.slug %>"><%= category.name %></a></li>
        <% end -%>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <%= render "shared/a_9_column_gallery" %>
  </div>
</div>
