<% content_for :title do %>
  All Creations in <%= @category.name %>
<% end %>

<div class="grid_9 alpha omega">
  <h1>All Creations in <em><%= @category.name %></em></h1>

  <% @creations.reverse.each do |creation| %>
    <div class="product_box">
      <h2><%= creation.name %></h2>
      <a href="<%= url_for creation %>"> <%= image_tag creation.image_url.to_s,  :alt => creation.name %> </a>
      <p><%= creation.short_story %> <%= link_to 'more', creation %></p>
    </div>
  <% end %>

  <hr class="clear" />
  <p> <%= paginate @creations %> </p>
</div>
<div class="clear"></div>
