<div id="edit-user-modal-<%= user.id %>" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_for user, url: admin_user_path(user), method: :put, html: { class: 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <h5 class="modal-title">Edit <%= user.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
        <div class="form-group">
          <%= f.label :full_address %>
          <%= f.text_field :full_address, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
        <div class="form-group">
          <%= f.label :website %>
          <%= f.url_field :website, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
        <div class="form-group">
          <%= f.label :twitter %>
          <%= f.text_field :twitter, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
        <div class="form-group">
          <%= f.label :facebook %>
          <%= f.url_field :facebook, class: 'form-control' %>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save Changes", class: 'btn btn-primary', disable_with: "Saving..." %>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    <% end %>
    </div>
  </div>
</div>
