<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'admin/shared/admin_nav' %>
    <h1>Subscriptions <small>(<%= @total %>)</small></h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Email</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
      <% @subscriptions.each_with_index do |subscription, index| %>
        <tr>
        <td><%= index+1 %></td>
        <td><%= subscription["email"] %></td>
        <td><%= subscription["timestamp_signup"] %></td>
      </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
