<div>
  <i class="fa fa-comment fa-large"></i>
  <%= avatar_for(subject.user, size: 24) %> 
  <%= link_to subject.user.name, profile_path(subject.user) %> commented on <%= link_to subject.creation.name, my_root_path(anchor: "cakes/#{subject.creation.id}") %>
  <small><%= time_ago_in_words(subject.created_at) %> ago.</small>
  <blockquote>
    <%= subject.text %>
  </blockquote>
</div>
