<ul class="nav nav-tabs">
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "Jobs", admin_jobs_path %></li>
  <li><%= link_to "Activity", admin_activities_path %></li>
  <li><%= link_to "Subscriptions", admin_subscriptions_path %></li>
  <li><%= link_to "Photos", admin_photos_path %></li>
  <li><%= link_to "Blobs", admin_blobs_path %></li>
</ul>
