<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'brand', style: 'color:hotpink;' do %>
        Cakeside
      <% end %>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          <%= link_to current_user.name, my_dashboard_path, class: 'navbar-link' %>
          <%= link_to my_dashboard_path, class: 'navbar-link' do %>
            <%= avatar_for(current_user, size: 24) %>
          <% end %>
        <% else %>
          <%= link_to "Sign In", login_path, class: 'navbar-link' %>
        <% end %>
        </p>
        <ul class="nav">
          <li class="active"> <%= link_to "Home", creations_path %> </li>
          <li> <%= link_to "Tutorials", tutorials_path %> </li>
          <li> <%= link_to "Artists", profiles_path %> </li>
          <% @categories.each do |category| %>
              <li><%= link_to category.name.pluralize, category_path(category) %></li>
          <% end %>
          <li><%= link_to "About", about_us_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
