<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <a class="brand" style="color:hotpink;" href="/">Cake<em>Side</em></a>
      <div class="nav-collapse">
        <%= form_tag(search_index_path, :method => "get", :name => "search", :class => "navbar-search pull-left") do %>
          <input name="q" type="text" class="search-query" placeholder="Search" />
        <% end %>
        <ul class="nav">
          <li><%= link_to 'Artists', profiles_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Tutorials', tutorials_path %></li>
          <% end -%>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
              <li><a href="/categories/<%= category.slug %>"><%= category.name %></a></li>
            <% end %>
          </ul>
          </li>
        </ul>
      </div>
      <ul class="nav pull-right">
        <li class="hidden-phone"><%= link_to "Add Creation", new_creation_path, :style => "color:#48ce62;font-size:15px;" %></li>
        <li class="divider-vertical hidden-phone"></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Creations", profile_path(current_user) %></li>
              <li><%= link_to "Favorites", profiles_favorites_path %></li>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li> <%= link_to "Sign Out", destroy_user_session_path %> </li>
            </ul>
          </li>
        <% else %>
          <li> <a href="<%= url_for new_user_session_path %>">Sign In</a> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
