<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <a class="brand" style="color:hotpink;" href="/">Cake<em>Side</em></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Creations<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to new_creation_path do %>
                  <i class="icon-edit icon-large"></i> Add Creation
                <% end %>
              </li>
              <li class="divider"></li>
              <% cache @categories do %>
                <li class="nav-header">Categories</li>
                <% @categories.each do |category| %>
                  <li><%= link_to category.name, category_path(category) %></li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "View All", creations_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to new_tutorial_path do %>
                  <i class="icon-edit icon-large"></i> Add Tutorial
                <% end %>
              </li>
              <li class="divider"></li>
              <li class="nav-header">Recently Added</li>
              <% cache @newest_tutorials do %>
                <% @newest_tutorials.each do |tutorial| %>
                <li><%= link_to tutorial.heading, tutorial_path(tutorial) %></li>
                <% end %>
              <% end %>
              <li><%= link_to "...", tutorials_path %></li>
              <li class="divider"></li>
              <li><%= link_to "View All", tutorials_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artists<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Recently Joined</li>
              <% cache @newest_members do %>
                <% @newest_members.each do |user| %>
                <li><%= link_to user.name, profile_path(user) %></li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li class="nav-header">Top Contributers</li>
              <% cache @top_members do %>
                <% @top_members.each do |user| %>
                <li><%= link_to user.name, profile_path(user) %></li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "View All", profiles_path %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <%= link_to new_creation_path do %>
              Add Creation <i class="icon-edit icon-large"></i>
            <% end %>
          </li>
          <%= form_tag(search_path, :method => "get", :name => "search", :class => "navbar-search pull-left") do %>
            <input name="q" type="text" class="search-query" placeholder="Search" value="<%= @search %>" />
          <% end %>
          <li class="divider-vertical hidden-phone"></li>
          <% if user_signed_in? %>
          <li>
            <%= link_to settings_path do %>
              <%= avatar_for(current_user, size: 24) %>
            <% end %>
          </li>
          <% else %>
            <li> <%= link_to "Sign In", new_user_session_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
