<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= yield(:title) || "untitled" %> - CakeSide</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="/assets/libs/modernizr-1.7.min.js"></script>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<!-- start ribbon background -->
<div id="page_bg">
  <!-- start content -->
  <div id="container">
    <div class="floatRight" style="padding-top:20px; padding-right:5px;">
      <% if user_signed_in? %>
        signed in as <%= link_to current_user.name, edit_user_registration_path %> |
        <a href="<%= url_for my_creations_path %>">my creations</a> |
        <%= link_to "sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
    <!-- start header -->
    <div id="header">
      <div id="header_logo"> <a href="/"><img src="/assets/template/logo.png" alt="Logo" width="322" height="56" border="0" /></a> </div>
      <div id="header_slogan"><img src="/assets/template/slogan.png" alt="Gourmet Online Shop" width="213" height="40" /></div>
    </div>
    <!-- end header -->
    <div id="menu_container">
      <ul id="navigation">
        <li><%= link_to "home", home_index_path %></li>
        <li><%= link_to "browse", creations_path %></li>
        <li class="last"><%= link_to "artists", all_profiles_path %></li>
      </ul>
    </div>
    <div id="mainContent">
      <!-- start body content -->
      <div id="right_side">
        <div id="s1" class="hidden"> 
          <img style="display: none;" src="/assets/template/banner_cupcakes.jpg" alt="" width="666" height="226" /> 
          <img style="display: none;" src="/assets/template/banner_weddings.jpg" alt="" width="666" height="226" />
        </div>
        <div id="body_text">
          <!-- begin main page content -->
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <!-- end main page content -->
        </div>
      </div>
      <!-- end body content -->
      <div id="left_side">
        <!-- start left menu -->
        <div style="position:relative; margin-top:-47px; width:147px; height:93px; background:url(/assets/template/tag_top.gif);"></div>
        <div class="tag">
          <ul>
          <% Category.all.each do |category| %>
            <li><a href='/categories/<%= category.slug %>'><%= category.name %></a></li>
          <% end %>
          </ul>
          <p>&nbsp; </p>
        </div>
        <!-- end left menu -->
        <!-- start search tag -->
        <div id="search_box">
          <%= form_tag(search_index_path, :method => "get", :name => "search") do %>
              <div id="search_box_inner">
                <input name="q" id="search_query" type="text" style="" value="    SEARCH" onfocus="if(this.value=='    SEARCH')this.value='';" />
                <%# <%= text_field_tag(:q) %>
              </div>
              <!-- set padding-top:1px in IE 6 and 7 if statement -->
              <div id="search_box_go">
                <input type="image" src="/assets/template/go.gif" alt="Go!" style="margin:0px; padding:0px;" />
                <%# <%= submit_tag("search") %>
              </div>
          <% end %>
        </div>
        <!-- end search -->
      </div>
      <hr class="clear" />
    </div>
    <!-- start footer -->
    <div id="footer">
      <div class="floatLeft">&copy; 2011 CakeSide</div>
      <div class="floatRight">
        <a href="/privacy.html">Privacy Policy</a>
      </div>
    </div>
    <!-- end footer -->
  </div>
</div>
<!-- end content -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<%= javascript_include_tag "application" %>
<script type="text/javascript" src="/assets/template/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/assets/template/hide-select.js"></script>

<script type="text/javascript">
$(function() {
  <%= yield :script %>
});
</script>

  <!--[if lt IE 7 ]>
  <script src="/assets/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
  <script type="text/javascript">
    var _gaq=[['_setAccount','UA-24090020-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
