<!DOCTYPE html>
<html>
<head>
  <title>Cake</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="user-nav">
    <% if user_signed_in? %>
      signed in as: <%= current_user.email %>. Not you?
      <%= link_to "sign out", destroy_user_session_path %> | <%= link_to "more", authentications_path %> 
    <% else %>
      <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
<%= yield %>
</body>
</html>
