<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= yield(:title) || "untitled" %> - CakeSide</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<script src="javascripts/libs/modernizr-1.7.min.js"></script>
<%= stylesheet_link_tag :all %>
<%= csrf_meta_tag %>
<%= yield :head %>
</head>
<body>
  <div id="main"><!-- Main starts here -->
    <header>
    <div id="header"><!-- Header starts here -->
      <div class="searchBar">
        <div class="search">
          <% form_tag(search_index_path, :method => "get") do %>
            <div class="txt">
              <%= text_field_tag(:search) %>
            </div>
            <div class="searchBt">
              <%= submit_tag("search") %>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="signOut">
            <%= link_to "sign out", destroy_user_session_path %> </p>
          </div>
        <% else %>
          <div class="signIn">
            <%= link_to "sign in", new_user_session_path %>
          </div>
        <% end %>
      </div>

      <div class="menu">
        <ul id="menu">
          <li class="small"><%= link_to "home", home_index_path %></li>
          <li class="medium"><%= link_to "browse", creations_path %></li>
          <li class="large"><a href="#contact">contact us</a></li>
        </ul>
      </div>
      <div class="subs">
        <a href="<%= url_for home_index_path %>.xml"><p>SUBCRIBE to RSS</p><img src="/images/rss.png" alt="" /></a>
      </div>
    </div><!-- Header ends here -->
    </header>

    <div class="clear"></div>

    <div id="contentTop"></div><!-- Content starts here -->
    <div id="content">
      <p class="floatRight" style="padding: 0px 20px 0px 0px;">
        <% if user_signed_in? %>
          signed in as <%= link_to current_user.name, edit_user_registration_path %>
        <% else %>
          <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="clear"></div>

      <%= yield %>

      <footer>
      <div id="footer"><!-- Footer starts here -->
        <a id="contact" href="#"></a>
        <div class="contactHeading">Contact Us</div>
        <div class="footerHolder">
          <div class="footerLeft">
            <p class="left">Address:</p>
            <p class="right">123 Street St<br /> Calgary AB<br /> Canada</p>
          </div>

          <div class="footerRight">
            <p class="left">Phone: <br /> Fax: <br />Email: <br /> Twitter:</p>
            <p class="right">1 800 600 0000 <br /> 1 800 600 0000 <br /> cake@cakeside.com <br /> @cakeside</p>
          </div>
          <div class="clear"></div>
        </div>

      </div><!-- Footer ends here -->
      </footer>
    </div>
    <div id="contentBottom"></div><!-- Content ends here -->

  </div><!-- Main ends here -->
    <div class="bottomHolder">
      <div class="copy"><p>&copy; 2011 CakeSide Inc.</p></div>
      <div class="design"><a href="#">SuLuMo</a></div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<%= javascript_include_tag :all %>

  <!--[if lt IE 7 ]>
  <script src="javascripts/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
