<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) || "CakeSide" %></title>
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag :application %>
    <style type="text/css">
      body { padding-top: 60px; }
    </style>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="topbar" data-dropdown="dropdown" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="<%= url_for home_index_path %>">Cake<em>side</em></a>
          <ul class="nav">
            <li><a href="<%= url_for home_index_path %>">Home</a></li>
            <li><%= link_to "Share", new_creation_path, :style => "color:#48ce62;" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Categories</a>
              <ul class="dropdown-menu">
                <% Category.all.each do |category| %>
                  <li><a href="/categories/<%= category.slug %>"><%= category.name %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Help</a>
              <ul class="dropdown-menu">
                <li><a href="/privacy.html">Privacy Policy</a></li>
                <li class="divider"></li>
                <li><a href="/terms.html">Terms and Conditions</a></li>
              </ul>
            </li>
          </ul>
          <%= form_tag(search_index_path, :method => "get", :name => "search", :class => "pull-left") do %>
            <input name="q" type="text" placeholder="Search" />
            <%# <input type="submit" value="search" />%>
          <% end %>
          <% if user_signed_in? %>
            <p class="pull-right">Logged in as <%= link_to current_user.name, profiles_mine_path %> | <%= link_to "sign out", destroy_user_session_path %></p>
          <% else %>
            <p class="pull-right">
            <a href="<%= url_for new_user_session_path %>">sign in</a> 
            <!--
            or <a href="<%= url_for new_user_registration_path %>">sign up</a>
            -->
            </p>
          <% end %>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->

    <div class="container">
      <div class="content">
        <% if notice %><p class="alert-message success"><%= notice %></p> <% end %>
        <% if alert %><p class="alert-message error"><%= alert %></p><% end %>
        <%= yield %>
      </div>

      <footer>
      <p>Copyright &copy; CakeSide 2012 | Contact Us <a href="http://twitter.com/cakeside">@cakeside</a> | <a href="https://www.facebook.com/pages/CakeSide/214607468615074">facebook</a></p>
      </footer>

    </div> <!-- /container -->

    <%= render "shared/google_analytics" %>
  </body>
</html>
