<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || "untitled" %> - CakeSide</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
  $(function() {
    <%= yield :script %>
  });
  </script>
  <%= yield :head %>
</head>
<body>
	<div id="hd">
		<div class="container_12">
			<div class="grid_12 top">
				<div class="logo"><img src="assets/arx/arc-resources-ltd.png" alt="arc-resources-ltd" width="205" height="38" /></div>
			</div>
			<div class="clear"></div>
      <div class="grid_3 push_9 search">
        <%= form_tag(search_index_path, :method => "get", :name => "search") do %>
          <input type="submit" value="" />
          <input name="q" type="text" />
        <% end %>
      </div>
			<div class="clear"></div>
			<div class="info">
				<div class="grid_3 dull">
					<strong>Cakeside</strong>
				</div>
				<div class="grid_3 arrow">
          <% if user_signed_in? %>
            <strong>Name:</strong> <%= link_to current_user.name, edit_user_registration_path %>
          <% end %>
				</div>
				<div class="grid_3">
          <% if user_signed_in? %>
            <a href="<%= url_for my_creations_path %>"><strong>My Creations</strong></a>
          <% end %>
				</div>
				<div class="grid_3">
          <% if user_signed_in? %>
            <strong><%= link_to "Sign Out", destroy_user_session_path %></strong>
          <% else %>
            <strong><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></strong>
          <% end %>
				</div>
			</div>
		</div>
	</div><!-- /#hd -->
	
	<div id="bd">
		<div class="container_12">
			<div class="grid_3 sidebar">
				<div class="summary">
					<div class="shaddow"><img src="assets/arx/shaddow-left.png" /></div>
					<p>Credits Remaining:</p>
					<p class="credits">2,050.00</p>
					<p><span class="fright">0.00</span>Credits Spent:</p>
					<p><span class="fright">0.00</span>Salary Spent:</p>
				</div><!-- /.summary -->
				<div class="menu">
					<ul class="level_1 nojot">
						<li class="level_1"><span class="fright"><img src="assets/arx/icon-check-green.png" /></span><%= link_to "Welcome", home_index_path %></li>
						<li class="level_1"><span class="fright"><img src="assets/arx/icon-check-green.png" /></span><%= link_to "Browse", creations_path %></li>
						<li class="level_1"><span class="fright"><img src="assets/arx/icon-check-green.png" /></span><%= link_to "Artists", all_profiles_path %></li>
						<li class="level_1"><span class="fright"><img src="assets/arx/icon-check-green.png" /></span>
							<a href="">Categories</a>
							<ul class="level_2 nojot">
              <% Category.all.each do |category| %>
                <li class="level_2"><a href='/categories/<%= category.slug %>'><%= category.name %></a></li>
              <% end %>
							</ul>
						</li>
					</ul>
				</div><!-- /.menu -->
			</div>
			<div class="grid_9 content">
        <!-- begin main page content -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <!-- end main page content -->

				<h1>AD&D Insurance</h1>
				<div class="grid_6 alpha">
					<p>Accident Insurance helps protect you and your family from the financial burden that can result from a serious accidental injury or death. It pays tax-free, lump-sum benefits for accidental death or the accidental loss (or loss of use) of limbs, sight, hearing or mobility. Additional coverage or other benefits may also be provided such as retraining or day care benefits. Coverage is in effect 24 hours a day, whether you are at work or not.</p>
					<p>Core AD&D is provided to you by the company at no cost. Coverage is 3x annual salary to a maximum of $800,000. Core AD&D is for the employee only.</p>
					<p>You can purchase additional units for yourself, <a href="">this is a link</a> spouse and dependent children. Optional Employee and Spousal AD&D has a maximum of $500,000. Dependent children can receive coverage up to a maximum of $50,000.</p>
					<p>For more information, Click here. (Provide details of coverage, schedule of loss, limitations/exclusions)</p>
					<h3 class="nobottom">Option 1</h3>
					<ul>
						<li>asd fasdf sad fasd fasdf asdf</li>
						<li>asd fasdf sad fasd fasdf asdf asdfasd fasdf sadf asdf asdf asdf sdaf sadf sf sadf asdf asdf asdf asdfasdf asdfasdf asdf asdf.</li>
						<li>asd fasdf sad fasd fasdf asdf</li>
						<li>asd fasdf sad fasd fasdf asdf</li>
					</ul>
				</div>
				<div class="grid_3 omega helpbox">
					<h4>Did You Know?</h4>
					<ul>
						<li>AD&D insurance also offers additional benefits such as home and vehicle alteration, or daycare benefits can be paid in some circumstances.</li>
						<li>AD&D insurance also offers additional benefits such as home and vehicle alteration, or daycare benefits can be paid in some circumstances.</li>
					</ul>
				</div>
				<div class="clear"></div>
				
				<h2 class="nobottom">Employee AD&D Insurance</h2>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Cost</th>
							<th>Credits</th>
							<th>Payroll</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tleft"><select><option>Core ($0.00)</option></select></td>
							<td>$ 0.00</td>
							<td>0.00</td>
							<td>$ 0.00</td>
						</tr>
					</tbody>
				</table>
				
				<h3>Employee AD&D Insurance Beneficiaries</h3>
				
				<h2>Beneficiaries</h2>
				<table class="autospace nobottom">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Relationship</th>
							<th>Is Minor</th>
							<th>Trustee</th>
							<th style="width:275px">Allocation (as Percentage)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Robert</td>
							<td>Smith</td>
							<td>Child</td>
							<td>Yes</td>
							<td>John Smith</td>
							<td><input type="text" value="0" /><span style="margin-left:5px;">%</span><input type="button" value="Edit" /><input type="button" value="delete" /></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">** Allocations do not total 100%</td>
							<td style="padding-left: 6px;">0</td>
						</tr>
					</tfoot>
				</table>
				<input type="button" value="Add" />
				<div class="gap"></div>
				
				<h2 class="nobottom">Spousal AD&D Insurance</h2>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Cost</th>
							<th>Credits</th>
							<th>Payroll</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tleft"><select><option>None ($0.00)</option></select></td>
							<td>$ 0.00</td>
							<td>0.00</td>
							<td>$ 0.00</td>
						</tr>
					</tbody>
				</table>
				
				<h2 class="nobottom">Child AD&D Insurance</h2>
				<table class="nobottom">
					<thead>
						<tr>
							<th></th>
							<th>Cost</th>
							<th>Credits</th>
							<th>Payroll</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tleft"><select><option>None ($0.00)</option></select></td>
							<td>$ 0.00</td>
							<td>0.00</td>
							<td>$ 0.00</td>
						</tr>
					</tbody>
				</table>
				<div class="direction">
					<div class="next fright"><a href="">Next</a></div>
					<div class="previous disabled">Previous</div>
				</div>
			</div>
		</div>
	</div><!-- /#bd -->
	
	<div id="ft">
		<div class="container_12">
			<div class="grid_3">
				<h3>Help</h3>
				<p>support</p>
				<img src="assets/arx/icon-phone.png" /><span class="phone">1-800-cakeside</span>
			</div>
			<div class="grid_9">
				<h3>Quick Links</h3>
				<ul class="nojot">
          <li><a href="/privacy.html">Privacy Policy</a></li>
					<li><a href="/terms.html">Terms and Conditions</a></li>
				</ul>
			</div>
		</div>
	</div><!-- /#ft -->

  <script type="text/javascript">
    var _gaq=[['_setAccount','UA-24090020-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
