<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>CakeSide - Sign In</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div style="background: url(/assets/sunset.png) no-repeat center 0px;">
      <div class="container">
        <div class="content">
          <div style="height:625px;">
            <%= yield %>
          </div>
        </div>
      </div> <!-- /container -->
    </div>
    <%= render "shared/footer" %>
    <%= render "shared/uservoice_feedback"%>
    <%= render "shared/google_analytics" %>
  </body>
</html>
